.ui-selectonemenu {
	width: 100% !important;
	margin-top: 2px !important;
	min-width: 100% !important;
}

/*.ui-selectcheckboxmenu {
	width: 100% !important;
	min-width: 100% !important;
	height: 33px;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
	width: 25px;
}

.ui-selectcheckboxmenu-multiple-container {
	height: 31px;
}*/

.ui-selectcheckboxmenu-panel label {
	float: none !important;
}

.ui-selectcheckboxmenu-header .ui-chkbox {
	margin-top: 12px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container {
	margin-left: 10px;
	width: 80%;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-filter-container .ui-icon
	{
	top: 12px;
}

.ui-selectcheckboxmenu-header .ui-selectcheckboxmenu-close {
	padding: 11px !important;
	margin-top: 2px;
}