<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{rentalCardBean.id}' />
		<f:event type="preRenderView" listener='#{rentalCardBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Rental Card" />

	<ui:define name="header">
		Rental Card
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty rentalCardBean.id}'>
				Edit existing Rental Card
			</c:when>
			<c:otherwise>
				Create a new Rental Card
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:outputStylesheet name="font-awesome/css/font-awesome.css" />

		<h:form id="create">

			<h:outputStylesheet name="css/attachment.css" />
			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanRentalCardStartDate" value="Start Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="rentalCardBeanRentalCardStartDate"
									value="#{rentalCardBean.rentalCard.startDate}">
								</p:calendar>
								<h:message for="rentalCardBeanRentalCardStartDate"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanRentalCardEndDate" value="End Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="rentalCardBeanRentalCardEndDate"
									value="#{rentalCardBean.rentalCard.endDate}">
								</p:calendar>
								<h:message for="rentalCardBeanRentalCardEndDate"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanRentalCardDueDate" value="Due Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="rentalCardBeanRentalCardDueDate"
									value="#{rentalCardBean.rentalCard.dueDate}">
								</p:calendar>
								<h:message for="rentalCardBeanRentalCardDueDate"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" value="User:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu value="#{rentalCardBean.rentalCard.user}"
									filter="true" filterMatchMode="contains"
									converter="#{personConverter}">
									<f:selectItem />
									<f:selectItems value="#{personBean.all}" var="person"
										itemLabel="#{person.name}" itemValue="#{person}" />
								</p:selectOneMenu>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel for="rentalCardBeanRentalCardItem"
									styleClass="control-label" value="Item: *" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="rentalCardBeanRentalCardItem"
									value="#{rentalCardBean.rentalCard.item}" filter="true"
									filterMatchMode="contains" converter="#{itemConverter}"
									required="true" requiredMessage="Empty Rented Item">
									<f:selectItem />
									<f:selectItems value="#{itemBean.allAvailableItems}" var="item"
										itemLabel="#{item.displayName()}" itemValue="#{item}" />
								</p:selectOneMenu>
								<h:message for="rentalCardBeanRentalCardItem" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" value="Project:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu value="#{rentalCardBean.rentalCard.project}"
									filter="true" filterMatchMode="contains"
									converter="#{projectConverter}">
									<f:selectItem />
									<f:selectItems value="#{projectBean.all}" var="project"
										itemLabel="#{project.name}" itemValue="#{project}" />
								</p:selectOneMenu>
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanRentalCardNote" value="Note:" />
							</div>
							<div class="col-md-7">
								<h:inputTextarea styleClass="form-control textArea"
									id="rentalCardBeanRentalCardNote"
									value="#{rentalCardBean.rentalCard.note}" />
								<h:message for="rentalCardBeanRentalCardNote" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-6">

				<p:dataTable id="attachmentsDataTable" widgetVar="attachmentVar"
					rows="5" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,50" paginatorAlwaysVisible="false"
					paginatorPosition="bottom"
					value="#{rentalCardBean.rentalCard.attachments}" var="attachment"
					rowKey="#{attachment.id}" rowIndexVar="index" editable="true"
					editMode="cell">

					<f:facet name="header">

						<h:outputText value="Attachments"
							styleClass="attachmentHeaderText" />

						<p:fileUpload widgetVar="fileUploadVar" multiple="true"
							auto="true" styleClass="fileUploader hide"
							fileUploadListener="#{rentalCardBean.handleFileUpload}"
							process="@this" update="attachmentsDataTable" />

						<h:commandLink onclick="$('.fileUploader input').click()" style=""
							styleClass="btn btn-sm btn-primary attachmentHeaderButton">
							<f:ajax />
							<i class="fa fa-plus white" />
						</h:commandLink>

					</f:facet>

					<p:column id="index" width="50">
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>

					<p:column id="actions" width="50">
						<h:commandLink styleClass="btn btn-sm btn-danger"
							action="#{rentalCardBean.selectForDelete(attachment)}"
							onclick="PF('deleteDialogVar').show()">
							<i class="fa fa-trash white" />
							<f:ajax />
						</h:commandLink>
					</p:column>

					<p:column id="attachmentName" headerText="Name"
						filterMatchMode="contains" filterBy="#{attachment.fileName}"
						sortBy="#{attachment.fileName}" styleClass="attachmentName-column"
						width="">
						<h:outputText value="#{attachment.fileName}"
							title="#{attachment.fileName}" />
					</p:column>

					<p:column id="attachmentSize" headerText="Size"
						sortBy="#{attachment.size}" style="text-align: center">
						<h:outputText value="#{attachment.sizeInMegaByte}"
							title="#{attachment.sizeInMegaByte}" />
					</p:column>

					<p:column id="description" headerText="Description"
						filterMatchMode="contains" filterBy="#{attachment.description}"
						sortBy="#{attachment.description}"
						styleClass="attachmentDescription-column">
						<h:inputText value="#{attachment.description}"
							styleClass="form-control" />
					</p:column>

					<p:column id="notes" headerText="Notes" filterMatchMode="contains"
						filterBy="#{attachment.notes}" sortBy="#{attachment.notes}"
						styleClass="attachmentNotes-column">
						<h:inputText value="#{attachment.notes}" styleClass="form-control" />
					</p:column>

					<p:column width="50">
						<h:commandLink action="#{rentalCardBean.download(attachment)}"
							styleClass="btn btn-sm btn-primary">
							<i class="fa fa-download white" />
						</h:commandLink>
					</p:column>

				</p:dataTable>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{rentalCardBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty rentalCardBean.id}'>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning">
								</h:link>
								<h:commandLink value="Delete" action='#{rentalCardBean.delete}'
									styleClass="btn btn-danger" />
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
						<p:commandLink value="Print" action="#{rentalCardBean.print()}"
							styleClass="btn btn-info" ajax="false">
						</p:commandLink>
					</div>
				</div>
			</div>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="310" resizable="false"
				widgetVar="deleteDialogVar">

				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok"
					action="#{rentalCardBean.deleteAttachment()}"
					onclick="PF('deleteDialogVar').hide()"
					styleClass="btn btn-sm btn-primary popup-buttons">
					<f:ajax render="attachmentsDataTable" />
				</h:commandLink>
				<h:commandLink value="Cancel"
					styleClass="btn btn-sm btn-danger popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<f:ajax />
				</h:commandLink>

			</p:dialog>
		</h:form>
	</ui:define>

</ui:composition>