<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{rentalCardBean.page}' />
		<f:event type="preRenderView" listener='#{rentalCardBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Rental Card entities" />

	<ui:define name="header">
		Rental Card
	</ui:define>

	<ui:define name="subheader">
		Search Rental Card entities
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanExampleStartDate" value="Start Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="rentalCardBeanExampleStartDate"
									value="#{rentalCardBean.example.startDate}" />
								<h:message for="rentalCardBeanExampleStartDate"
									styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanExampleEndDate" value="End Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="rentalCardBeanExampleEndDate"
									value="#{rentalCardBean.example.endDate}" />
								<h:message for="rentalCardBeanExampleEndDate" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanExampleDueDate" value="Due Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="rentalCardBeanExampleDueDate"
									value="#{rentalCardBean.example.dueDate}" />
								<h:message for="rentalCardBeanExampleDueDate" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanExampleUser" value="User:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="rentalCardBeanExampleUser"
									value="#{rentalCardBean.example.user}" filter="true"
									filterMatchMode="contains" converter="#{personConverter}">
									<f:selectItem />
									<f:selectItems value="#{personBean.all}" var="person"
										itemValue="#{person}"
										itemLabel="#{person.pid} | #{person.name} | #{person.unit.uid}" />
								</p:selectOneMenu>
								<h:message for="rentalCardBeanExampleUser" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="rentalCardBeanExampleItem" value="Item:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="rentalCardBeanExampleItem"
									value="#{rentalCardBean.example.item}" filter="true"
									filterMatchMode="contains" converter="#{itemConverter}">
									<f:selectItem />
									<f:selectItems value="#{itemBean.all}" var="item"
										itemValue="#{item}" itemLabel="#{item.displayName()}" />
								</p:selectOneMenu>
								<h:message for="rentalCardBeanExampleItem" styleClass="error" />
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{rentalCardBean.search}'
						styleClass="btn btn-primary" />
							<h:commandLink value="Clear Search"
						action='#{rentalCardBean.clearSearch}' styleClass="btn btn-primary" />
						
					<h:commandLink value="Create New" action='#{rentalCardBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<p:dataTable id="rentalCardBeanPageItems" styleClass="data-table"
				value="#{rentalCardBean.pageItems}" var="_item">
				<p:column>
					<f:facet name="header">
						<h:outputText value="Start Date" />
					</f:facet>
					<h:link outcome="/rentalCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemStartDate" value="#{_item.startDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="End Date" />
					</f:facet>
					<h:link outcome="/rentalCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemEndDate" value="#{_item.endDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Due Date" />
					</f:facet>
					<h:link outcome="/rentalCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemDueDate" value="#{_item.dueDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="User" />
					</f:facet>
					<h:link outcome="/rentalCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemUser" value="#{_item.user.name}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Item" />
					</f:facet>
					<h:link outcome="/rentalCard/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemItem" value="#{_item.item.displayName()}" />
					</h:link>
				</p:column>
			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{rentalCardBean}' />
			</ui:include>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
		</h:form>

	</ui:define>

</ui:composition>
