<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{rentalCardBean.id}' />
		<f:event type="preRenderView" listener='#{rentalCardBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="View Rental Card" />

	<ui:define name="header">
		Rental Card
	</ui:define>

	<ui:define name="subheader">
		View existing Rental Card
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">

			<h:outputLabel for="rentalCardBeanRentalCardStartDate"
				value="Start Date:" />
			<h:outputText id="rentalCardBeanRentalCardStartDate"
				value="#{rentalCardBean.rentalCard.startDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="rentalCardBeanRentalCardEndDate"
				value="End Date:" />
			<h:outputText id="rentalCardBeanRentalCardEndDate"
				value="#{rentalCardBean.rentalCard.endDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="rentalCardBeanRentalCardDueDate"
				value="Due Date:" />
			<h:outputText id="rentalCardBeanRentalCardDueDate"
				value="#{rentalCardBean.rentalCard.dueDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="rentalCardBeanRentalCardUser" value="User:" />
			<h:outputText id="rentalCardBeanRentalCardUser"
				value="#{rentalCardBean.rentalCard.user}">
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="rentalCardBeanRentalCardItem" value="Item:" />
			<h:outputText id="rentalCardBeanRentalCardItem"
				value="#{rentalCardBean.rentalCard.item}">
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="rentalCardBeanRentalCardProject" value="Project:" />
			<h:outputText id="rentalCardBeanRentalCardProject"
				value="#{rentalCardBean.rentalCard.project}">
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="rentalCardBeanRentalCardNote" value="Note:" />
			<h:inputTextarea id="rentalCardBeanRentalCardNote"
				value="#{rentalCardBean.rentalCard.note}" />
			<h:outputText />

		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search"
				styleClass="btn btn-primary" />
			<h:link value="Edit" outcome="create" includeViewParams="true"
				styleClass="btn btn-primary" />
			<h:link value="Create New" outcome="create"
				styleClass="btn btn-primary" />
		</div>
	</ui:define>

</ui:composition>