.btn-primary {
	background-color: #817B10; /* dk gold */
	*background-color: #817B10;
	background-image: -ms-linear-gradient(top, #B0A826, #979026);
	/* light gold, med gold */
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B0A826),
		to(#979026));
	background-image: -webkit-linear-gradient(top, #B0A826, #979026);
	background-image: -o-linear-gradient(top, #B0A826, #979026);
	background-image: -moz-linear-gradient(top, #B0A826, #979026);
	background-image: linear-gradient(top, #B0A826, #979026);
	background-repeat: repeat-x;
	border-color: #979026 #979026 #7C7301;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#B0A826',
		endColorstr='#979026', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-weight: bold;
	text-align: center;
	color: #fff !important;
	padding: 8px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0px 1px 2px rgba(137, 137, 137, 0.8);
	-webkit-box-shadow: 0px 1px 3px rgba(137, 137, 137, 0.8);
	box-shadow: 0px 1px 3px rgba(137, 137, 137, 0.8);
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active,
	.btn-primary.disabled, .btn-primary[disabled] {
	background-color: #979026;
	*background-color: #979026;
}

.btn-primary:active, .btn-primary.active {
	background-color: #979026 \9;
}

a.btn-primary:active {
	font-weight: bold;
	color: #fff !important;
	background: #817B10;
	padding: 8px 10px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

a.btn-danger:hover, a.btn-primary:hover {
	font-weight: bold;
	color: #fff !important;
	background: #817B10;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.carousel-caption .btn btn-danger {
	float: right;
}

a:hover {
	color: #000;
	text-decoration: none;
}

#navigation li.nav-header a:hover {
	color: #6a640b;
}

#content .button:hover, #content .buttons a:hover {
	background-color: #979026;
}