span#itemPicture .ui-galleria {
	width: 100% !important;
	height: 280px;
	margin-bottom: 25px;
}

span#itemPicture .ui-galleria .ui-galleria-panel-wrapper {
	width: 100% !important;
	height: 226px !important;
}

span#itemPicture .ui-galleria .ui-galleria-panel-wrapper li {
	width: 100% !important;
	height: 222px !important;
}

span#itemPicture .ui-galleria .ui-galleria-panel-wrapper li img {
	width: 100% !important;
	height: 222px !important;
}