<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{unitBean.id}' />
		<f:event type="preRenderView" listener='#{unitBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Unit" />

	<ui:define name="header">
		Unit
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty unitBean.id}'>
				Edit existing Unit
			</c:when>
			<c:otherwise>
				Create a new Unit
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.css"></link>
		<h:outputStylesheet name="pages/item/create.css" library="css" />
		<h:form id="create" prependId="false">

		<p:growl id="msg" showDetail="false" />

			<h:outputStylesheet name="css/attachment.css" />
			<h:outputStylesheet name="css/selectOneMenu.css" />
			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="unitBeanUnitUid"
									value="Uid: *" />
							</div>
							<div class="col-md-7">
								<h:inputText id="unitBeanUnitUid"
									styleClass="form-control #{component.valid ? '' : 'border-red'}"
									required="true" requiredMessage="Empty UID"
									value="#{unitBean.unit.uid}" />
								<h:message for="unitBeanUnitUid" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" for="unitBeanUnitName"
									value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="unitBeanUnitName" styleClass="form-control"
									value="#{unitBean.unit.name}" />
								<h:message for="unitBeanUnitName" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="unitBeanUnitFacilityLocation" value="Facility Locations:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="unitBeanUnitFacilityLocation"
									value="#{unitBean.unit.facilityLocation}" />
								<h:message for="unitBeanUnitFacilityLocation" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="unitBeanDepartments" value="Departments:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="unitBeanDepartments"
									value="#{unitBean.unit.departments}" />
								<h:message for="unitBeanDepartments" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>


			<div class="row">
				<div class="col-md-12">

					<div class="buttons">
						<h:commandLink value="Save" action='#{unitBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty unitBean.id}'>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>
			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{unitBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>


			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
			<script type="text/javascript"
				src="../resources/js/pages/item/item.js" />
			<script type="text/javascript"
				src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>
			<script type="text/javascript"
				src="../resources/js/pages/unit/initSelectize.js"></script>
		</h:form>
	</ui:define>

</ui:composition>