<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{unitBean.page}' />
		<f:event type="preRenderView" listener='#{unitBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Unit entities" />

	<ui:define name="header">
		Unit
	</ui:define>

	<ui:define name="subheader">
		Search Unit entities
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:panelGroup styleClass="search">


				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="unitBeanExampleUid" value="Uid:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="unitBeanExampleUid" styleClass="form-control"
									value="#{unitBean.example.uid}" />
								<h:message for="unitBeanExampleUid" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="unitBeanExampleName" value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="unitBeanExampleName" styleClass="form-control"
									value="#{unitBean.example.name}" />
								<h:message for="unitBeanExampleName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="unitBeanExampleFacilityLocation"
									value="Facility Location:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="unitBeanExampleFacilityLocation"
									styleClass="form-control"
									value="#{unitBean.example.facilityLocation}" />
								<h:message for="unitBeanExampleFacilityLocation"
									styleClass="error" />
							</div>
						</div>
					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{unitBean.search}'
						styleClass="btn btn-primary" />
				 <h:commandLink value="Clear Search" action='#{unitBean.clearSearch}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Create New" action='#{unitBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>

			</h:panelGroup>

			<p:dataTable id="unitBeanPageItems" styleClass="data-table"
				value="#{unitBean.pageItems}" var="_item">
				<p:column filterBy="#{_item.uid}" sortBy="#{_item.uid}">
					<f:facet name="header">
						<h:outputText value="Uid" />
					</f:facet>
					<h:link outcome="/unit/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemUid" value="#{_item.uid}" />
					</h:link>
				</p:column>
				<p:column filterBy="#{_item.name}" sortBy="#{_item.name}">
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/unit/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</p:column>
				<p:column filterBy="#{_item.facilityLocation}" sortBy="#{_item.facilityLocation}">
					<f:facet name="header">
						<h:outputText value="Facility Location" />
					</f:facet>
					<h:link outcome="/unit/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemFacilityLocation"
							value="#{_item.facilityLocation}" />
					</h:link>
				</p:column>
			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{unitBean}' />
			</ui:include>
		</h:form>

	</ui:define>

</ui:composition>
