<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{unitBean.id}' />
		<f:event type="preRenderView" listener='#{unitBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="View Unit" />

	<ui:define name="header">
		Unit
	</ui:define>

	<ui:define name="subheader">
		View existing Unit
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">

			<h:outputLabel for="unitBeanUnitUid" value="Uid:" />
			<h:outputText id="unitBeanUnitUid" value="#{unitBean.unit.uid}" />
			<h:outputText />

			<h:outputLabel for="unitBeanUnitName" value="Name:" />
			<h:outputText id="unitBeanUnitName" value="#{unitBean.unit.name}" />
			<h:outputText />

			<h:outputLabel for="unitBeanDepartments" value="Departments:" />
			<h:outputText id="unitBeanDepartments"
				value="#{unitBean.unit.departments}" />
			<h:outputText />

			<h:outputLabel for="unitBeanUnitPersons" value="Persons:" />
			<h:dataTable id="unitBeanUnitPersons" styleClass="data-table"
				value="#{forgeview:asList(unitBean.unit.persons)}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/person/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Pid" />
					</f:facet>
					<h:link outcome="/person/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPid" value="#{_item.pid}" />
					</h:link>
				</h:column>
			</h:dataTable>
			<h:outputText />

		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search"
				styleClass="btn btn-primary" />
			<h:link value="Edit" outcome="create" includeViewParams="true"
				styleClass="btn btn-primary" />
			<h:link value="Create New" outcome="create"
				styleClass="btn btn-primary" />
		</div>
	</ui:define>

</ui:composition>