@CHARSET "ISO-8859-1";

#navigation {
	float: right;
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 30px;
}

#navigation ul li {
	list-style: none;
	text-align: right;
}
/****************************************************/
#content {
	margin-right: 230px;
	margin-left: 0px;
	padding-right: 10px;
	padding-left: 0px;
	direction: rtl;
}

#content .search {
	padding-right: 70px;
	padding-left: 0px;
	background-position: 650px 2px;
}

#content .search .buttons {
	text-align: right;
	padding-right: 25%;
	padding-left: 0%;
}

#content .button, #content .buttons a {
	margin-right: 0px;
	margin-left: 5px;
}

#content .data-table thead th, #content .data-table tbody td, #content .data-table tfoot td
	{
	text-align: right;
	padding-right: 4px;
	padding-left: 0px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-top: 2px;
}

#content table {
	width: 100%;
}

#content table .label {
	text-align: right;
	float: right;
}

#content table .component {
	text-align: right;
}

#content table .required {
	padding-right: 4pt;
	padding-left: 0pt;
}