@CHARSET "ISO-8859-1";

#navigation {
	float: right;
	margin-right: 10px;
	margin-left: 0px;
	margin-top: 30px;
}

#navigation ul li {
	list-style: none;
	text-align: right;
}
/****************************************************/
#content {
	margin-right: 230px;
	margin-left: 0px;
	padding-right: 10px;
	padding-left: 0px;
	direction: rtl;
}

#content table .label {
	text-align: right;
	float: right;
}

#content table .component {
	text-align: right;
}

#content table .required {
	padding-right: 4pt;
	padding-left: 0pt;
}