<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{personBean.id}' />
		<f:event type="preRenderView" listener='#{personBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Person" />

	<ui:define name="header">
		Person
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty personBean.id}'>
				Edit existing Person
			</c:when>
			<c:otherwise>
				Create a new Person
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
	
		<h:form id="create">
		<p:growl id="msg" showDetail="false" />

			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanPersonPid" value="Pid: *" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control" id="personBeanPersonPid"
									required="true" requiredMessage="Empty Person Id"
									value="#{personBean.person.pid}" />
								<h:message for="personBeanPersonPid" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanPersonName" value="Name: *" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control" id="personBeanPersonName"
									required="true" requiredMessage="Empty Person Name"
									value="#{personBean.person.name}" />
								<h:message for="personBeanPersonName" styleClass="error" />
							</div>
						</div>
					</div>



					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanPersonUnit" value="Unit:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="personBeanPersonUnit"
									value="#{personBean.person.unit}" filterMatchMode="contains"
									filter="true" converter="#{unitConverter}">
									<f:selectItem />
									<f:selectItems value="#{unitBean.all}" var="unit"
										itemLabel="#{unit.name}" itemValue="#{unit}" />
									<p:ajax
										update="personBeanPersonDepartment,personBeanPersonFacilityLocation"
										listener="#{personBean.fillDepartmentsByUnit()}" />
								</p:selectOneMenu>
								<h:message for="personBeanPersonUnit" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanPersonDepartment" value="Department:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="personBeanPersonDepartment"
									value="#{personBean.person.department}"
									disabled="#{personBean.person.unit==null}"
									filterMatchMode="contains" filter="true">
									<f:selectItem />
									<f:selectItems value="#{personBean.departments}"
										var="department" itemLabel="#{department}"
										itemValue="#{department}" />
								</p:selectOneMenu>
								<h:message for="personBeanPersonDepartment" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanPersonFacilityLocation"
									value="Facility Location:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="personBeanPersonFacilityLocation"
									value="#{personBean.person.facilityLocation}"
									disabled="#{personBean.person.unit==null}"
									filterMatchMode="contains" filter="true">
									<f:selectItem />
									<f:selectItems value="#{personBean.facilityLocations}"
										var="department" itemLabel="#{facilityLocation}"
										itemValue="#{facilityLocation}" />
								</p:selectOneMenu>
								<h:message for="personBeanPersonFacilityLocation"
									styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{personBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty personBean.id}'>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{personBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>

			<script type="text/javascript"
				src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
			<script type="text/javascript"
				src="../resources/js/pages/item/item.js" />


		</h:form>
	</ui:define>

</ui:composition>