<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui"
	xmlns:geoFeature="http://java.sun.com/jsf/composite/geofeaturetree"
	xmlns:gf="http://itunit-geo-feature/ui"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:i="http://itunitfaces.org/ui"
	xmlns:of="http://omnifaces.org/functions">


<h:head>
	<style>
.list .ui-sortable-column>span {
	margin-right: 0;
}

.list .select {
	height: 26px;
}

.row .select2-container {
	width: 100% !important;
}
</style>
</h:head>

<ui:composition template="/template/template.xhtml">
	<ui:param name="title"
		value='#{medicineController.getValue("medicine_card")}' />
	<ui:param name="subtitle"
		value='#{medicineController.getValue("medicine_card")}' />
	<ui:define name="customStyleSheet">

		<h:outputStylesheet name="cards-css.css" library="css" />
		<h:outputStylesheet
			rendered="#{templateController.localeCode.equals('ar')}"
			name="css-rtl.css" library="css" />

		<h:outputStylesheet
			rendered="#{templateController.localeCode.equals('en')}"
			name="css-ltr.css" library="css" />

		<h:outputStylesheet name="general.css" library="css" />
		<h:outputStylesheet name="datatable.css" library="css/pages" />
		<h:outputStylesheet name="image-css.css" library="css" />
		<h:outputStylesheet name="barcode-css.css" library="css" />

		<!-- <h:outputStylesheet name="datatable-in-tab.css" library="css/pages" />  -->

	</ui:define>
	<ui:define name="customContentWithoutForm">
		<h:form id="myCardForm">
			<p:remoteCommand name="rcForUrl"
				actionListener="#{medicineController.changeUrl()}"></p:remoteCommand>
			<script>

		function clearInput(){
			
			$('#barcode_dt th input').each(function(){
					$(this).val("");
				})
			
			}

		</script>
			<o:onloadScript>
		initDatePicker();
        replaceIcon();
$(document).on('ifChecked','.myCheck2',function(event){
	$(this).click();
	$(this).click();
		});
		$(document).on('ifUnchecked','.myCheck2',function(event){
	$(this).click();
	$(this).click();
		});
       </o:onloadScript>
			<o:importConstants
				type="org.itunit.generalPharm.constants.CodeConstants" />

			<div class="row">
				<div class="col-md-10">
					<div class="panel panel-green">
						<div class="panel-heading">
							<span class="panel-title bold">
								#{medicineController.getValue("medicine_card")} <span
								title="#{bundle.card_number}" style="width: 65px;"
								class="badge badge-warning">#{medicineController.medicine.id>0?medicineController.medicine.id.intValue():''}</span>
							</span>
							<div class="panel-tools">

								<h:panelGroup id="info_id" styleClass="import-header-popover"
									pt:data-placement="#{templateController.localeCode eq 'ar' ? 'right':'left'}"
									pt:data-trigger="hover" pt:data-html="true"
									pt:data-toggle="popover"
									pt:data-content="#{medicineController.getReadonlyHeaderCard(medicineController.medicine)}">
									<a href="javascript:;" class="btn btn-circle btn-sm red"> <i
										class="fa fa-info"></i>
									</a>
								</h:panelGroup>

							</div>

						</div>
						<div class="panel-body">
							<div>
								<div class="row">

									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineProductName"
												value="#{bundle.medicine_product_name}">
												<span class="required">*</span>
											</h:outputLabel>
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineProductName"
													label="#{bundle.medicine_product_name}" required="true"
													styleClass="form-control"
													value="#{medicineController.medicine.productName}" />
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												value="#{bundle.medicine_barcode}">
											</h:outputLabel>
											<div class="col-sm-8">
												<h:panelGrid columns="2">
													<h:panelGroup id="medicineControllerMedicineBarcode">
														<h:inputText label="#{bundle.medicine_barcode}"
															styleClass="form-control" readonly="true"
															value="#{medicineController.barcode}" />
													</h:panelGroup>

													<p:commandLink onclick="PF('entity_dlg').show();">

														<i class="fa fa-lg fa-barcode"
															style="font-size: 2.6em;#{templateController.localeCode eq 'ar' ? ' margin-right: 4px;':' margin-left: 4px;'}" />
													</p:commandLink>

												</h:panelGrid>
											</div>

										</div>
									</div>

									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineMoh"
												value="#{bundle.medicine_moh}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineMoh"
													label="#{bundle.medicine_moh}" styleClass="form-control"
													value="#{medicineController.medicine.moh}" />
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineYashC"
												value="#{bundle.yashfeen_code}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineYashC"
													label="#{bundle.yashfeen_code}" styleClass="form-control"
													value="#{medicineController.medicine.yashfeenCode}" />
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineSupplier"
												value="#{bundle.medicine_supplier}" />
											<div class="col-sm-8">
												<h:selectOneMenu converter="omnifaces.SelectItemsConverter"
													id="medicineControllerMedicineSupplier"
													label="#{bundle.medicine_supplier}"
													styleClass="form-control"
													value="#{medicineController.medicine.supplier}">
													<f:selectItem itemLabel="#{bundle.select}" />
													<f:selectItems itemLabel="#{_item.name}"
														itemValue="#{_item}"
														value="#{medicineController.supplierList}" var="_item" />
												</h:selectOneMenu>
											</div>
										</div>
									</div>

								</div>
								<div class="row">

									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineMinQty"
												value="#{bundle.medicine_min_qty}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineMinQty"
													label="#{bundle.medicine_min_qty}"
													styleClass="form-control"
													value="#{medicineController.medicine.minQty}" />
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineMaxQty"
												value="#{bundle.medicine_max_qty}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineMaxQty"
													label="#{bundle.medicine_max_qty}"
													styleClass="form-control"
													value="#{medicineController.medicine.maxQty}" />
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineProducer"
												value="#{bundle.medicine_producer}" />
											<div class="col-sm-8">
											<!-- 	<codes:codeTree id="medicineControllerMedicineProducer"
													kind="#{CodeConstants.producer}"
													label="#{bundle.medicine_producer}"
													value="#{medicineController.medicine.producer}" /> -->
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineRegNo"
												value="#{bundle.medicine_reg_no}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineRegNo"
													label="#{bundle.medicine_reg_no}" styleClass="form-control"
													value="#{medicineController.medicine.regNo}" />
											</div>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineFridge"
												value="#{bundle.medicine_fridge}" />
											<div class="col-sm-8">
												<div class="i-checks check">
													<h:selectBooleanCheckbox
														value="#{medicineController.medicine.fridge}"
														styleClass="form-control">
														<p:ajax process="@this" event="change" />
													</h:selectBooleanCheckbox>
												</div>

											</div>
										</div>
									</div>
									<div class="col-md-1">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineActive"
												value="#{bundle.medicine_in_active}" />
											<div class="col-sm-8">
												<div class="i-checks check">
													<h:selectBooleanCheckbox
														value="#{medicineController.medicine.active}"
														styleClass="form-control">
														<p:ajax process="@this" event="change" />
													</h:selectBooleanCheckbox>
												</div>

											</div>
										</div>
									</div>


									<div class="col-md-2">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineHasExpiryDate"
												value="#{bundle.medicine_has_expiry_date}" />
											<div class="col-sm-8">
												<div class="form-group form-md-line-input ">

													<div class="i-checks check">
														<h:selectBooleanCheckbox
															value="#{medicineController.medicine.hasExpiryDate}"
															styleClass="form-control">
															<p:ajax process="@this" event="change" />
														</h:selectBooleanCheckbox>
													</div>
												</div>

											</div>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="col-md-2">
					<p:panel id="imag_panel_id"
						styleClass="no-border no-padding imgClass">
						<div class="profile-userpic">
							<h:graphicImage id="image_id1"
								value="/resources/images/body-bg.png" title="add_image"
								styleClass="img-responsive new-pic"
								onclick="$('#myCardForm\\:upload_the_file_input').click()"
								rendered="#{medicineController.renderProfileImage}" />
							<o:graphicImage
								value="#{medicineController.logoRelatedFileController.proImage}"
								dataURI="true" id="image_id"
								rendered="#{!medicineController.renderProfileImage}"
								styleClass="img-responsive">
							</o:graphicImage>

							<div class="profile-userbuttons">
								<p:fileUpload id="upload_the_file" widgetVar="image" auto="true"
									fileUploadListener="#{medicineController.handleFileLogoUpload}"
									mode="advanced" label="" update="imag_panel_id :messageScript"
									allowTypes="/(\.|\/)(gif|jpe?g|png|ico|bmp)$/" multiple="false"
									styleClass="image-upload fa " sizeLimit="5000000"
									invalidFileMessage="#{app.upload_invalid_type}"
									invalidSizeMessage="#{app.upload_invalid_size}"
									rendered="#{!medicineController.renderImage}"
									dragDropSupport="true" disabled="false">
								</p:fileUpload>
								<h:commandLink action="#{medicineController.deleteImage()}"
									rendered="#{medicineController.renderImage}"
									title="#{app.delete_image}"
									styleClass="btn-circle btn-danger remove-pic">
									<i class="fa fa-remove"></i>
									<f:ajax render="imag_panel_id" />
								</h:commandLink>
							</div>

						</div>

					</p:panel>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">

					<div class="panel panel-green">
						<div class="panel-heading">
							<span class="panel-title bold">#{medicineController.getValue("prices_informations")}</span>
						</div>
						<div class="panel-body">
							<div>
								<div class="row">


									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineCurrency"
												value="#{bundle.medicine_currency}">
												<span class="required">*</span>
											</h:outputLabel>
											<div class="col-sm-8">
												<h:selectOneMenu label="#{bundle.medicine_currency}"
													required="true" styleClass="form-control"
													id="medicineControllerMedicineCurrency"
													converter="omnifaces.SelectItemsConverter"
													value="#{medicineController.medicine.currency}">
													<f:selectItem itemLabel="#{bundle.choose_currency}" />
													<f:selectItems var="currency"
														value="#{medicineController.currencies}"
														itemValue="#{currency}"
														itemLabel="#{medicineController.getCodeName(currency.name,CodeConstants.currency)}" />
													<p:ajax process="@this" event="change"
														update="myCardForm:withPurchaseCurrencyId  myCardForm:withMainCurrencyId"></p:ajax>
												</h:selectOneMenu>
											</div>
										</div>
									</div>


									<div class="col-md-4">
										<div class="form-group">
											<h:panelGroup id="withPurchaseCurrencyId">
												<h:outputLabel class="col-sm-4 control-label"
													for="medicineControllerMedicineUsd"
													value="#{bundle.price} #{bundle.in} #{(!(medicineController.medicine.currency==null))?medicineController.getCodeName(medicineController.medicine.currency.name,CodeConstants.currency):''}" />
												<div class="col-sm-8">
													<h:inputText id="medicineControllerMedicineUsd"
														readonly="true" label="#{bundle.medicine_usd}"
														styleClass="form-control"
														value="#{medicineController.medicine.purchasePrice}" />
												</div>
											</h:panelGroup>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<h:panelGroup id="withMainCurrencyId">
												<h:outputLabel class="col-sm-4 control-label"
													for="medicineControllerMedicineLbp"
													value="#{medicineController.labelMainCurrency()}" />
												<div class="col-sm-8">
													<h:inputText id="medicineControllerMedicineLbp"
														readonly="true"
														label="#{medicineController.labelMainCurrency()}"
														styleClass="form-control"
														value="#{medicineController.medicine.mainCurrencyPrice}" />
												</div>
											</h:panelGroup>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineDiscount"
												value="#{bundle.medicine_discount}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineDiscount"
													readonly="true" label="#{bundle.medicine_discount}"
													styleClass="form-control"
													value="#{medicineController.medicine.discount}" />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineSellingPrice"
												value="#{bundle.medicine_selling_price}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineSellingPrice"
													readonly="true" label="#{bundle.medicine_selling_price}"
													styleClass="form-control"
													value="#{medicineController.medicine.sellingPrice}" />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineProfit"
												value="#{bundle.medicine_profit}" />
											<div class="col-sm-8">
												<h:inputText id="medicineControllerMedicineProfit"
													readonly="true" label="#{bundle.medicine_profit}"
													styleClass="form-control"
													value="#{medicineController.medicine.profit}" />
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineTheoreticalProfit"
												value="#{bundle.medicine_theoretical_margin}" />
											<div class="col-sm-8">
												<h:inputText
													id="medicineControllerMedicineTheoreticalProfit"
													label="#{bundle.medicine_theoretical_margin}"
													readonly="true" styleClass="form-control"
													value="#{medicineController.medicine.theoreticalProfit}" />
											</div>
										</div>
									</div>

									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineHasVAT"
												value="#{bundle.medicine_has_vat}" />

											<div class="col-sm-8">
												<div class="i-checks check">
													<h:selectBooleanCheckbox
														value="#{medicineController.medicine.hasVAT}"
														styleClass="form-control myCheck2">
														<p:ajax process="@this"
															listener="#{medicineController.clearVat()}"
															update=":#{p:component('VatId')}" />
													</h:selectBooleanCheckbox>
												</div>

											</div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineVat"
												value="#{bundle.medicine_vat}" />
											<div class="col-sm-8">
												<h:panelGroup id="VatId">
													<h:inputText readonly="true"
														id="medicineControllerMedicineVat"
														label="#{bundle.medicine_vat}" styleClass="form-control"
														value="#{medicineController.medicine.vat}" />
												</h:panelGroup>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="panel panel-green">
						<div class="panel-heading">
							<span class="panel-title bold">#{medicineController.getValue("medicale_informations")}</span>
						</div>
						<div class="panel-body">
							<div>
								<div class="row">
									<div class="col-md-9">
										<div class="row">

											<div class="col-md-2">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineType"
														value="#{bundle.medicine_type}" />
													<div class="col-sm-8" style="width: 118px;">
														<h:selectOneMenu id="medicineControllerMedicineType"
															label="#{bundle.medicine_type}" styleClass="form-control"
															value="#{medicineController.medicine.type}">
															<f:selectItem itemLabel="" itemValue="#{null}" />
															<f:selectItem itemLabel="#{bundle['DRUG']}"
																itemValue="DRUG" />
															<f:selectItem itemLabel="#{bundle['PARA']}"
																itemValue="PARA" />
														</h:selectOneMenu>
													</div>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineClassification"
														value="#{bundle.medicine_classification}" />
													<div class="col-sm-8">
													<!-- 	<codes:codeTree
															id="medicineControllerMedicineClassification"
															kind="#{CodeConstants.medicineGeneralClassification}"
															label="#{bundle.medicine_classification}"
															value="#{medicineController.medicine.classification}" /> -->
													</div>
												</div>
											</div>
											<div class="col-md-8">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineMedicalUsage"
														value="#{bundle.medicine_medical_usage}" />
													<div class="col-sm-8">
														<!-- <codes:codeTree
															id="medicineControllerMedicineMedicalUsage"
															kind="#{CodeConstants.medicalUsage}"
															label="#{bundle.medicine_medical_usage}"
															value="#{medicineController.medicine.medicalUsage}" /> -->
													</div>
												</div>
											</div>


										</div>
										<div class="row">

											<div class="col-md-2">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineDosage"
														value="#{bundle.medicine_dosage}" />
													<div class="col-sm-8" style="width: 118px;">
														<h:inputText id="medicineControllerMedicineDosage"
															label="#{bundle.medicine_dosage}"
															styleClass="form-control"
															value="#{medicineController.medicine.dosage}" />
													</div>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineLaboratory"
														value="#{bundle.medicine_laboratory}" />
													<div class="col-sm-8">
														<!-- <codes:codeTree id="medicineControllerMedicineLaboratory"
															kind="#{CodeConstants.laboratory}"
															label="#{bundle.medicine_laboratory}"
															value="#{medicineController.medicine.laboratory}" /> -->
													</div>
												</div>
											</div>

											<div class="col-md-3">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineDrugFamilly"
														value="#{bundle.medicine_drug_familly}" />
													<div class="col-sm-8">
														<!-- <codes:codeTree id="medicineControllerMedicineDrugFamilly"
															kind="#{CodeConstants.drugFamily}"
															label="#{bundle.medicine_drug_familly}"
															value="#{medicineController.medicine.drugFamilly}" /> -->
													</div>
												</div>
											</div>
											<div class="col-md-5">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineMohClass"
														value="#{bundle.medicine_moh_class}" />
													<div class="col-sm-8">
														<h:inputText id="medicineControllerMedicineMohClass"
															label="#{bundle.medicine_moh_class}"
															styleClass="form-control"
															value="#{medicineController.medicine.mohClass}" />
													</div>
												</div>
											</div>


										</div>
									</div>
									<div class="col-md-3">

										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineUsage"
												value="#{bundle.medicine_usage}" />
											<div class="col-sm-8">
												<h:inputTextarea style="height: 93px;resize: none;"
													styleClass="form-control"
													id="medicineControllerMedicineUsage"
													value="#{medicineController.medicine.usage}" />


											</div>
										</div>

									</div>
								</div>
								<div class="row">
									<div class="col-md-9">
										<div class="row">

											<div class="col-md-2">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicinePresentationType"
														value="#{bundle.medicine_main_unit}" />
													<div class="col-sm-8">
														<!-- <codes:codeTree
															id="medicineControllerMedicinePresentationType"
															kind="#{CodeConstants.medicineKind}"
															label="#{bundle.medicine_main_unit}"
															value="#{medicineController.medicine.mainUnit}" /> -->
													</div>
												</div>
											</div>


											<div class="col-md-2">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineDrugKind"
														value="#{bundle.medicine_drug_kind}" />
													<div class="col-sm-8">
													<!-- 	<codes:codeTree id="medicineControllerMedicineDrugKind"
															kind="#{CodeConstants.medicineKind}"
															label="#{bundle.medicine_drug_kind}"
															value="#{medicineController.medicine.presentationType}" /> -->
													</div>
												</div>
											</div>


											<div class="col-md-3">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicinePresentationNumber"
														value="#{bundle.medicine_presentation_number}" />
													<div class="col-sm-8" style="width: 118px;">
														<h:inputText
															id="medicineControllerMedicinePresentationNumber"
															label="#{bundle.medicine_presentation_number}"
															styleClass="form-control"
															value="#{medicineController.medicine.presentationNumber}" />
													</div>
												</div>
											</div>

											<div class="col-md-3" style="width: 145px;">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicinePsychotropic"
														value="#{bundle.medicine_psychotropic}" />
													<div class="col-sm-8">
														<div class="i-checks check">
															<h:selectBooleanCheckbox
																value="#{medicineController.medicine.psychotropic}"
																styleClass="form-control">
																<p:ajax process="@this" event="change" />
															</h:selectBooleanCheckbox>
														</div>

													</div>
												</div>
											</div>
											<div class="col-md-2">
												<div class="form-group">
													<h:outputLabel class="col-sm-4 control-label"
														for="medicineControllerMedicineChronic"
														value="#{bundle.medicine_chronic}" />
													<div class="col-sm-8">

														<div class="i-checks check">
															<h:selectBooleanCheckbox
																value="#{medicineController.medicine.chronic}"
																styleClass="form-control">
																<p:ajax process="@this" event="change" />
															</h:selectBooleanCheckbox>
														</div>
													</div>
												</div>
											</div>


										</div>

									</div>
									<div class="col-md-3">

										<div class="form-group">
											<h:outputLabel class="col-sm-4 control-label"
												for="medicineControllerMedicineIngredients"
												value="#{bundle.medicine_ingredients}" />
											<div class="col-sm-8">
												<!-- <codes:codeTree id="medicineControllerMedicineIngredients"
													kind="#{CodeConstants.medicalIngredient}"
													label="#{bundle.medicine_ingredients}"
													value="#{medicineController.medicine.ingredients}" /> -->
											</div>
										</div>


									</div>


								</div>


							</div>
						</div>
					</div>
				</div>
			</div>

			<p:tabView id="tabViewId">
				<p:tab title="#{bundle.medicine_guarantors}">
					<div>
						<div class="row">
							<div class="col-md-4">
								<h:panelGroup id="guarantorId">
									<h:selectOneMenu label="#{bundle.guarantor_guarantor}"
										styleClass="form-control"
										converter="omnifaces.SelectItemsConverter"
										value="#{medicineController.chooseGuarantor}">
										<f:selectItem itemLabel="#{bundle.choose_guarantor}" />
										<f:selectItems var="guarantor"
											value="#{medicineController.guarantorList}"
											itemValue="#{guarantor}"
											itemLabel="#{medicineController.getCodeName(guarantor.guarantor,CodeConstants.guarantor)}" />

									</h:selectOneMenu>
								</h:panelGroup>
							</div>
							<div class="col-md-1">
								<p:commandLink oncomplete="rc();" style="margin-top: 5px;"
									styleClass="btn btn-primary btn-xs btn-add"
									title="#{bundle.add}">
									<f:ajax execute=":#{p:component('guarantorId')}" event="click"
										listener="#{medicineController.addGuarantor()}"
										render=":messageScript :#{p:component('guarantorId')}" />
									<i class="fa fa-plus" />
								</p:commandLink>

								<p:remoteCommand name="rc"
									update=":#{p:component('medicineControllerMedicineGuarantors')}"></p:remoteCommand>

							</div>
						</div>
						<br />
						<p:dataTable
							currentPageReportTemplate="#{bundle.row_count}: {totalRecords}"
							editable="true" emptyMessage="#{bundle.no_records}"
							id="medicineControllerMedicineGuarantors" paginator="true"
							paginatorPosition="bottom" rowIndexVar="rowIndex"
							paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"
							rowKey="#{guarantor.id}" rows="10" rowsPerPageTemplate="5,10,15"
							styleClass="table table-striped table-bordered table-hover rf-table"
							value="#{medicineController.medicine.guarantors}" var="guarantor"
							widgetVar="guarantorsTableWgVar">

							<p:column style="width:30px">
								<p:commandLink
									actionListener="#{medicineController.deleteChild('guarantors',guarantor)}"
									styleClass="btn btn-danger actions-btn"
									update=":#{p:component('medicineControllerMedicineGuarantors')}">
									<i class="fa fa-trash-o" />
								</p:commandLink>
							</p:column>
							<p:column headerText="#{bundle.guarantor_guarantor}"
								sortBy="#{guarantor.guarantor}" width="150">

								<!-- <codes:codeOutputText kind="#{CodeConstants.guarantor}"
									value="#{guarantor.guarantor}"></codes:codeOutputText> -->

							</p:column>
							<p:column headerText="#{bundle.guarantor_discount}"
								sortBy="#{guarantor.discount}" width="135">

								<h:inputText styleClass="form-control"
									label="#{bundle.guarantor_discount}"
									value="#{guarantor.discount}">
									<f:ajax execute="@this" />
								</h:inputText>

							</p:column>
							<p:column headerText="#{bundle.guarantor_coverage}"
								sortBy="#{guarantor.coverage}" width="135">
								<h:inputText styleClass="form-control"
									label="#{bundle.guarantor_coverage}"
									value="#{guarantor.coverage}">
									<f:ajax execute="@this" />
								</h:inputText>

							</p:column>
						</p:dataTable>
					</div>

				</p:tab>
				<p:tab title="#{bundle.medicine_related_files}">
					<div>
						<!-- <attach:related-files-viewer
							dir="#{templateController.localeCode eq 'ar' ? 'rtl':'ltr'}"
							entity="#{medicineController.medicine}"
							id="medicineControllerMedicine" /> -->
					</div>
				</p:tab>
			</p:tabView>


			<div class="fixedToolbar">
				<h:commandLink value='#{bundle.save}'
					action='#{medicineController.save}' styleClass="btn btn-success">
					<f:ajax render=":messageScript" execute=":myCardForm" />
					<i class="fa fa-save" />
				</h:commandLink>
			</div>
		</h:form>
		<p:dialog resizable="false" dynamic="true" closable="false"
			widgetVar="entity_dlg" styleClass="barcode-dialog-style"
			header="#{bundle.barcode_list}" id="barcodeDialogId"
			appendTo="@(body)" modal="true">

			<p:ajax event="open" oncomplete="openDialog();"></p:ajax>

			<h:form
				onkeypress="if(event.keyCode == 13){$('.barcodeClass').click();event.preventDefault();}"
				id="barcodeFormId" prependId="false">

				<p:remoteCommand name="openDialog"
					oncomplete="$('.barcodeClass').click();"></p:remoteCommand>

				<p:panel id="barcode_pnlId" styleClass="panel-Bar-class">

					<p:dataTable
						currentPageReportTemplate="#{bundle.row_count}: {totalRecords}"
						editable="true" emptyMessage="#{bundle.no_records}"
						id="barcode_dt" rowIndexVar="rowIndex"
						paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"
						rowKey="#{bar.id}"
						styleClass="table table-striped table-bordered table-hover rf-table"
						value="#{medicineController.medicine.barcodes}" var="bar"
						widgetVar="barcodeTableWgVar">

						<p:column width="100">

							<f:facet name="header">
								<p:commandLink id="addBarId" style="margin-top: 5px;"
									styleClass="btn btn-primary btn-xs btn-add barcodeClass"
									title="#{bundle.add}">
									<f:ajax event="click"
										listener="#{medicineController.addBarcode()}"
										render=":messageScript :#{p:component('barcode_dt')}" />
									<i class="fa fa-plus" />
								</p:commandLink>
							</f:facet>
							<h:commandLink styleClass="btn btn-danger actions-btn"
								actionListener="#{medicineController.deleteBarcode(bar)}">
								<p:ajax update=":#{p:component('barcode_dt')}"
									process=":#{p:component('barcode_dt')}" />
								<i class="fa fa-trash-o" />
							</h:commandLink>
						</p:column>

						<p:column headerText="#{bundle.medicine_barcode}">
							<center>
								<h:inputText id="barcId" value="#{bar.barcode}">
									<f:ajax execute="@this" />
								</h:inputText>
							</center>
						</p:column>

					</p:dataTable>
				</p:panel>
				<p:separator />

				<p:commandLink styleClass="btn btn-danger btn-xs"
					actionListener="#{medicineController.refreshBarcodes()}"
					oncomplete="updateBarcode();rfBar();PF('entity_dlg').hide();"
					style=" color: white;padding: 3px 17px; #{templateController.localeCode eq 'ar' ? 'float:left':'float:right'}"
					value="#{bundle.cancel}">
				</p:commandLink>
				<h:outputLabel value=" " />

				<p:commandLink styleClass="btn btn-success btn-xs"
					oncomplete="updateBarcode();rfBar();PF('entity_dlg').hide();"
					style=" color: white;padding: 3px 17px;#{templateController.localeCode eq 'ar' ? 'float:left':'float:right'}"
					value="#{bundle.accept}">
				</p:commandLink>


				<p:remoteCommand name="updateBarcode"
					update=":#{p:component('medicineControllerMedicineBarcode')}"></p:remoteCommand>
				<p:remoteCommand name="rfBar" update=":#{p:component('barcode_dt')}"></p:remoteCommand>

			</h:form>
		</p:dialog>

	</ui:define>

	<ui:define name="customOutputScript">
		<h:outputScript name="data-table.js" library="js" />
		<h:outputScript name="prime-data-table-editor.js" library="js" />
	</ui:define>



</ui:composition>
</html>

