<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:pass="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:of="http://omnifaces.org/functions">

<ui:composition template="/template/template.xhtml">
	<ui:param name="title"
		value="#{medicineListController.getValue('medicine_list')}" />
	<ui:param name="subtitle"
		value="#{medicineListController.getValue('medicine_list')}" />

	<ui:define name="customStyleSheet">

		<h:outputStylesheet name="cards-css.css" library="css" />
		<h:outputStylesheet
			rendered="#{templateController.localeCode.equals('ar')}"
			name="css-rtl.css" library="css" />

		<h:outputStylesheet
			rendered="#{templateController.localeCode.equals('en')}"
			name="css-ltr.css" library="css" />

		<h:outputStylesheet name="general.css" library="css" />
		<h:outputStylesheet name="datatable.css" library="css/pages" />
		<h:outputStylesheet name="image-css.css" library="css" />
		<h:outputStylesheet name="barcode-css.css" library="css" />

		<h:outputStylesheet name="medicine-list-css.css" library="css" />
		<h:outputStylesheet
			rendered="#{templateController.localeCode.equals('en')}"
			name="medicine-list-css-ltr.css" library="css" />
		<h:outputStylesheet
			rendered="#{templateController.localeCode.equals('ar')}"
			name="medicine-list-css-rtl.css" library="css" />
	</ui:define>
	<ui:define name="customFormContent">
		<style>
.list .ui-sortable-column>span {
	margin-right: 0;
}

.list .select {
	height: 26px;
}

.row .select2-container {
	width: 100% !important;
}

body {
	font-size: 12px !important;
}

</style>
		<f:metadata>
			<f:event type="preRenderView"
				listener="#{medicineListController.openListener}" />
		</f:metadata>

		<script type="text/javascript">

		function clearInput(){
			$('.stckctList th input').each(function(){
				$(this).val("");
			})
			$('.stckctList .globalFilter').each(function(){
				$(this).val("");
			})
			$('.stckctList .ui-column-customfilter select option').each(function(){
				if($(this).val()==''){
				$(this).attr('selected','selected');
				}
				else{
					$(this).removeAttr('selected');
					}
			}) 
			$('.stckctList .mtree-choice abbr.mtree-clear').click();
		}
	
	</script>

		<o:importConstants
			type="org.itunit.generalPharm.constants.CodeConstants" />

		<o:importConstants type="org.itunit.generalPharm.enums.type" />

		<p:commandLink style="display:none;"
			actionListener="#{medicineListController.next()}"
			styleClass="nextStckCt btn btn-danger actions-btn"
			oncomplete="document.getElementById('myForm:medicineListControllerPageItems:globalFilter').scrollIntoView(); 
                        window.scroll(0, window.scrollY - 100);"
			update=":#{p:component('medicineListControllerPageItems')} #{p:component('paneMedId')} #{p:component('toMedId')}">

		</p:commandLink>

		<p:remoteCommand name="goToAnotherPage"
			actionListener="#{medicineListController.goToAnotherPage()}"></p:remoteCommand>

		<p:commandLink style="display:none;"
			oncomplete="document.getElementById('myForm:medicineListControllerPageItems:globalFilter').scrollIntoView(); 
                        window.scroll(0, window.scrollY - 100);  "
			actionListener="#{medicineListController.previous()}"
			styleClass="previousStckCt btn btn-danger actions-btn"
			update=":#{p:component('medicineListControllerPageItems')} #{p:component('paneMedId')} #{p:component('toMedId')}">
		</p:commandLink>

		<!--=================================================-->
		<div class="btn-group">
			<ul>
				<li><a id="task-detailsLink" title="#{bundle.delete} ESC"
					class="delete-stck"
					onclick="document.getElementById('myForm:deleteMedId').click();">
						<i class="fa fa-trash-o" id="fa-detail"
						style="margin-left: 5px; padding-bottom: 10px; color: white;"></i>
				</a></li>
				<li><a id="task-infoLink"
					title="#{bundle.medicine_card} Ctrl + D" class="edit-btn"
					onclick="document.getElementById('myForm:toMedId').click();"> <i
						class="fa fa-pencil-square-o" id="fa-info"
						style="margin-left: 5px; padding-bottom: 10px; color: white;"></i>
				</a></li>
				<li><a id="task-commentsLink" title="#{bundle.sale} F9"
					class="sale-btn"
					onclick="document.getElementById('myForm:saleInvId').click();"><i
						class="fa fa-shopping-cart" id="fa-comment"
						style="margin-left: 5px; padding-bottom: 10px; color: white;"></i>
				</a></li>
			</ul>
		</div>
		<!-- ======================================================== -->

		<p:commandLink id="deleteMedId" style="display:none;"
			actionListener="#{medicineListController.delete()}"
			styleClass="btn btn-danger actions-btn" update="@form :messageScript">
			<p:confirm message="#{bundle.are_you_sure_from_delete}" />
			<i class="fa fa-trash-o" />
		</p:commandLink>

		<h:link id="toMedId" style="display:none;" target="_blank"
			outcome="/views/medicine/medicine-card"
			styleClass="btn btn-info actions-btn">
			<f:param name="id"
				disable="#{medicineListController.stockContentSelection == null}"
				value="#{medicineListController.stockContentSelection.medicine.id.intValue()}" />
			<span class="fa fa-pencil-square-o" />
		</h:link>

		<h:link id="saleInvId" style="display:none;" target="_blank"
			styleClass="btn btn-warning actions-btn">
								#{bundle.sale}
							</h:link>

		<div class="panel panel-default">

			<div class="panel-body">

				<p:dataTable emptyMessage="#{bundle.no_records}"
					selection="#{medicineListController.stockContentSelection}"
					selectionMode="single"
					filteredValue="#{medicineListController.filteredList}"
					id="medicineListControllerPageItems" paginator="true"
					paginatorPosition="top" rowIndexVar="rowIndex"
					paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {Customization}"
					rowKey="#{item.id}" rows="15"
					styleClass="table table-striped table-hover list stckctList"
					value="#{medicineListController.pageItems}" var="item"
					widgetVar="pageItemsTableWgVar">

					<p:ajax event="rowSelect"
						listener="#{medicineListController.onRowSelect}"
						update="#{p:component('paneMedId')} #{p:component('toMedId')}" />

					<p:column filterBy="#{item.medicine.productName}"
						filterMatchMode="contains" filterPosition="top" width="112">
						<f:facet name="filter">
							<p:inputText onkeyup="PF('pageItemsTableWgVar').filter()"
								placeholder="#{bundle.medicine_product_name}"
								styleClass="inputtext-filter" />
						</f:facet>
						<h:outputText id="itemProductName"
							styleClass="text-ellipsis text-class"
							title="#{item.medicine.productName}"
							value="#{item.medicine.productName}" />
					</p:column>
					<p:column filterBy="#{item.medicine.drugFamilly}"
						filterMatchMode="contains" filterPosition="top" width="116">
						<f:facet name="filter">
						<!-- 	<codes:codeTree kind="#{CodeConstants.drugFamily}"
								onchange="PF('pageItemsTableWgVar').filter()"
								placeHolder="#{bundle.medicine_drug_familly}"
								placeholder="#{bundle.medicine_drug_familly}"
								styleClass="inputtext-filter" /> -->
						</f:facet>
						<!-- <codes:codeOutputText id="itemDrugFamilly"
							kind="#{CodeConstants.drugFamily}"
							styleClass="text-ellipsis text-class"
							value="#{item.medicine.drugFamilly}" /> -->
					</p:column>
					<p:column filterBy="#{item.medicine.classification}"
						filterMatchMode="contains" filterPosition="top" width="116">
						<f:facet name="filter">
							<!-- <codes:codeTree
								kind="#{CodeConstants.medicineGeneralClassification}"
								onchange="PF('pageItemsTableWgVar').filter()"
								placeHolder="#{bundle.medicine_classification}"
								placeholder="#{bundle.medicine_classification}"
								styleClass="inputtext-filter" /> -->
						</f:facet>
						<!-- <codes:codeOutputText id="itemClassification"
							kind="#{CodeConstants.medicineGeneralClassification}"
							styleClass="text-ellipsis text-class"
							value="#{item.medicine.classification}" /> -->
					</p:column>
					<p:column filterBy="#{item.medicine.moh}"
						filterMatchMode="contains" filterPosition="top" width="118">
						<f:facet name="filter">
							<p:inputText onkeyup="PF('pageItemsTableWgVar').filter()"
								placeholder="#{bundle.medicine_moh}"
								styleClass="inputtext-filter" />
						</f:facet>
						<h:outputText id="itemMoh" styleClass="text-ellipsis text-class"
							title="#{item.medicine.moh}" value="#{item.medicine.moh}" />
					</p:column>
					<p:column filterBy="#{item.medicine.type}" filterMatchMode="exact"
						filterPosition="bottom"
						styleClass="header-class booleanColumn sort-with-bool" width="81">
						<f:facet name="filter">
							<h:selectOneMenu label="#{bundle.medicine_type}"
								onchange="PF('pageItemsTableWgVar').filter();"
								styleClass="form-control">
								<f:selectItem itemLabel="#{bundle.medicine_type}" />
								<f:selectItem itemLabel="#{bundle['DRUG']}"
									itemValue="#{type.DRUG}" />
								<f:selectItem itemLabel="#{bundle['PARA']}"
									itemValue="#{type.PARA}" />
							</h:selectOneMenu>
						</f:facet>
						<h:outputText styleClass=" text-ellipsis text-class"
							value="#{item.medicine.type}" />
					</p:column>

					<p:column filterBy="#{item.medicine.yashfeenCode}"
						filterMatchMode="contains" filterPosition="top" width="83">
						<f:facet name="filter">
							<p:inputText onkeyup="PF('pageItemsTableWgVar').filter()"
								placeholder="#{bundle.yashfeen_code}"
								styleClass="inputtext-filter" />
						</f:facet>
						<h:outputText styleClass="text-ellipsis text-class"
							title="#{item.medicine.yashfeenCode}"
							value="#{item.medicine.yashfeenCode}" />
					</p:column>
					<p:column filterBy="#{item.medicine.supplier}"
						filterMatchMode="contains" filterPosition="top" width="110">
						<f:facet name="filter">
							<p:inputText onkeyup="PF('pageItemsTableWgVar').filter()"
								placeholder="#{bundle.medicine_supplier}"
								styleClass="inputtext-filter" />
						</f:facet>
						<h:outputText styleClass="text-class text-ellipsis"
							value="#{item.medicine.supplier.name}" />
					</p:column>
					<p:column width="76" headerText="#{bundle.quantity}">

						<h:panelGroup
							rendered="#{templateController.localeCode.equals('ar')}">

							<!-- <codes:codeOutputText rendered="#{item.partitionQuantity gt 0}"
								kind="#{CodeConstants.medicineKind}"
								value="#{item.presentationType}"></codes:codeOutputText> -->
							<h:outputLabel value=" #{item.partitionQuantity} "
								rendered="#{item.partitionQuantity gt 0}" />

							<!-- <codes:codeOutputText kind="#{CodeConstants.medicineKind}"
								value="#{item.mainUnit}" rendered="#{item.quantity gt 0}"></codes:codeOutputText> -->
							<h:outputLabel rendered="#{item.quantity gt 0}"
								value="#{item.quantity} " />


						</h:panelGroup>

						<h:panelGroup
							rendered="#{templateController.localeCode.equals('en')}">
							<h:outputLabel value="#{item.quantity} "
								rendered="#{item.quantity gt 0}" />
							<!-- <codes:codeOutputText kind="#{CodeConstants.medicineKind}"
								rendered="#{item.quantity gt 0}" value="#{item.mainUnit}"></codes:codeOutputText> -->


							<h:outputLabel value=" #{item.partitionQuantity} "
								rendered="#{item.partitionQuantity gt 0}" />
							<!-- <codes:codeOutputText kind="#{CodeConstants.medicineKind}"
								rendered="#{item.partitionQuantity gt 0}"
								value="#{item.presentationType}"></codes:codeOutputText> -->

						</h:panelGroup>

					</p:column>
					<p:column filterBy="#{item.medicine.minQty}"
						filterMatchMode="contains" filterPosition="top" width="83">
						<f:facet name="filter">
							<p:inputText onkeyup="PF('pageItemsTableWgVar').filter()"
								placeholder="#{bundle.medicine_min_qty}"
								styleClass="inputtext-filter" />
						</f:facet>
						<h:outputText id="itemMinQty"
							styleClass="text-class text-ellipsis"
							title="#{item.medicine.minQty}" value="#{item.medicine.minQty}" />
					</p:column>
					<p:column filterBy="#{item.medicine.sellingPrice}"
						filterMatchMode="contains" filterPosition="top" width="102">
						<f:facet name="filter">
							<p:inputText onkeyup="PF('pageItemsTableWgVar').filter()"
								placeholder="#{bundle.medicine_selling_price}"
								styleClass="inputtext-filter" />
						</f:facet>
						<h:outputText id="itemSellingPrice"
							styleClass="text-class text-ellipsis"
							title="#{item.medicine.sellingPrice}"
							value="#{item.medicine.sellingPrice}" />
					</p:column>

					<p:column filterBy="#{item.medicine.chronic}"
						filterMatchMode="contains" filterPosition="bottom"
						styleClass="header-class booleanColumn sort-with-bool" width="76">
						<f:facet name="filter">
							<h:selectOneMenu styleClass="form-control"
								onchange="PF('pageItemsTableWgVar').filter()">
								<f:selectItem itemLabel="#{bundle.all}" />
								<f:selectItem itemLabel="#{bundle.medicine_chronic}"
									itemValue="true" />
								<f:selectItem itemLabel="#{bundle.no_medicine_chronic}"
									itemValue="false" />
							</h:selectOneMenu>
						</f:facet>
						<h:outputText
							styleClass="#{item.medicine.chronic ? 'fa fa-check green' : 'fa fa-close red'} text-ellipsis"
							value="" />
					</p:column>
					<p:column filterBy="#{item.medicine.active}"
						filterMatchMode="contains" filterPosition="bottom"
						styleClass="header-class booleanColumn sort-with-bool" width="76">
						<f:facet name="filter">
							<h:selectOneMenu styleClass="form-control"
								onchange="PF('pageItemsTableWgVar').filter()">
								<f:selectItem itemLabel="#{bundle.all}" />
								<f:selectItem itemLabel="#{bundle.active}" itemValue="true" />
								<f:selectItem itemLabel="#{bundle.inactive}" itemValue="false" />
							</h:selectOneMenu>
						</f:facet>
						<h:outputText
							styleClass="#{item.medicine.active ? 'fa fa-check green' : 'fa fa-close red'} text-ellipsis"
							value="" />
					</p:column>
					<p:column filterBy="#{item.medicine.laboratory}"
						filterMatchMode="contains" filterPosition="top" width="110">
						<f:facet name="filter">
						<!-- 	<codes:codeTree kind="#{CodeConstants.laboratory}"
								onchange="PF('pageItemsTableWgVar').filter()"
								placeHolder="#{bundle.medicine_laboratory}"
								placeholder="#{bundle.medicine_laboratory}"
								styleClass="inputtext-filter" /> -->
						</f:facet>
						<!-- <codes:codeOutputText id="itemLaboratory"
							kind="#{CodeConstants.laboratory}"
							styleClass="text-class text-ellipsis"
							value="#{item.medicine.laboratory}" /> -->
					</p:column>

					<f:facet name="{Customization}">
						<h:panelGroup styleClass="selectStockClass">
							<h:selectOneMenu converter="omnifaces.SelectItemsConverter"
								value="#{medicineListController.stock}"
								styleClass="form-control">
								<f:selectItems itemLabel="#{stck.name}" itemValue="#{stck}"
									var="stck" value="#{medicineListController.stocks}" />

								<p:ajax event="change"
									update=":#{p:component('medicineListControllerPageItems')} #{p:component('paneMedId')}"
									listener="#{medicineListController.findStockContent()}"></p:ajax>
							</h:selectOneMenu>
						</h:panelGroup>

						<p:inputText id="globalFilter" styleClass="globalFilter"
							style="text-align:center;"
							onkeypress="if(event.keyCode == 13){event.preventDefault();}"
							onkeyup="PF('pageItemsTableWgVar').filter();"
							placeholder="#{bundle.filter_on}">
						</p:inputText>
					</f:facet>


				</p:dataTable>
				<h:panelGroup id="paneMedId">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-green">
								<div class="panel-body content-class"
									style="background-color: skyblue;">

									<div class="row medInfoClass">
										<div class="row">
											<div class="col-md-9">
												<div class="row">
													<div class="col-md-5">
														<div class="row">
															<div
																class="#{templateController.localeCode.equals('en')?'col-md-3':'col-md-4'}">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_product_name}">
																</h:outputLabel>
															</div>
															<div class="col-md-8 padding-prices"
																style="padding-right: 1px;">
																<h:inputText readonly="true"
																	id="medicineControllerMedicineProductName"
																	label="#{bundle.medicine_product_name}" required="true"
																	styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.medicine.productName}" />
															</div>
														</div>

														<div class="row">
															<div
																class="#{templateController.localeCode.equals('en')?'col-md-3':'col-md-4'}">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_dosage}" />
															</div>
															<div class="col-md-3" style="padding-right: 1px;">
																<h:inputText id="medicineControllerMedicineDosage"
																	readonly="true" label="#{bundle.medicine_dosage}"
																	styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.medicine.dosage}" />
															</div>

															<div class="col-md-5" style="padding: 1px;">
																<!-- <codes:codeTree style=" min-width: 95px !important;"
																	placeHolder="#{bundle.medicine_drug_familly}"
																	id="medicineControllerMedicineDrugFamilly"
																	kind="#{CodeConstants.drugFamily}" disabled="true"
																	label="#{bundle.medicine_drug_familly}"
																	value="#{medicineListController.stockContentSelection.medicine.drugFamilly}" /> -->
															</div>
														</div>

														<div class="row" style="padding-top: 7px;">
															<div
																class="#{templateController.localeCode.equals('en')?'col-md-3':'col-md-4'}">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_medical_usage}" />

															</div>
															<div class="col-md-8 padding-prices"
																style="padding-right: 1px;">
																<!-- <codes:codeTree
																	id="medicineControllerMedicineMedicalUsage"
																	kind="#{CodeConstants.medicalUsage}" disabled="true"
																	label="#{bundle.medicine_medical_usage}"
																	value="#{medicineListController.stockContentSelection.medicine.medicalUsage}" />

 -->
															</div>
														</div>

													</div>

													<div class="col-md-4">

														<div class="row">
															<div class="col-md-4 med-bar">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_barcode}">
																</h:outputLabel>
															</div>
															<div class="col-md-8 padding-prices"
																style="width: 194px;">
																<div class="row">
																	<div class="col-md-10">
																		<h:panelGroup id="medicineControllerMedicineBarcode">
																			<h:inputText label="#{bundle.medicine_barcode}"
																				style=" margin-left: -4px;"
																				styleClass="form-control" readonly="true"
																				value="#{medicineListController.firstBarcode()}" />
																		</h:panelGroup>
																	</div>
																	<div class="col-md-2">
																		<p:commandLink process="@form"
																			update=":#{p:component('barcode_pnlId')}"
																			oncomplete="PF('entity_dlg').show();">

																			<i class="fa fa-lg fa-barcode"
																				style="font-size: 1.8em; margin-top: 4px;" />
																		</p:commandLink>
																	</div>
																</div>

															</div>
														</div>

														<div class="row">
															<div class="col-md-4 med-bar">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.med_description}" />
															</div>
															<div class="col-md-8 padding-prices"
																style="width: 194px;">
																<div class="row"
																	style="#{templateController.localeCode.equals('en')?'margin-left: -41px !important;':''}">
																	<div class="col-md-4 codes-class">
																		<!-- <codes:codeTree disabled="true"
																			id="medicineControllerMedicinePresentationType"
																			kind="#{CodeConstants.medicineKind}"
																			styleClass="text-ellipsis text-class"
																			value="#{medicineListController.stockContentSelection.medicine.mainUnit}" />
 -->
																	</div>

																	<div class="col-md-4 codes-class">

																	<!-- 	<codes:codeTree
																			styleClass="text-ellipsis text-class desc-style"
																			id="medicineControllerMedicineDrugKind"
																			disabled="true" kind="#{CodeConstants.medicineKind}"
																			value="#{medicineListController.stockContentSelection.medicine.presentationType}" /> -->
																	</div>

																	<div class="col-md-4">
																		<h:inputText
																			style="#{templateController.localeCode.equals('en')?'margin-left: 26px !important;width: 46px;':''}"
																			id="medicineControllerMedicinePresentationNumber"
																			readonly="true"
																			label="#{bundle.medicine_presentation_number}"
																			styleClass="form-control"
																			value="#{medicineListController.stockContentSelection.medicine.presentationNumber}" />

																	</div>
																</div>

															</div>
														</div>

														<div class="row">

															<div class="col-md-4 med-bar">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_ingredients}" />

															</div>
															<div class="col-md-8 padding-prices"
																style="width: 194px;">
																<!-- <codes:codeTree
																	style="#{templateController.localeCode.equals('en')?'width: 188px;':''}"
																	id="medicineControllerMedicineIngredients"
																	disabled="true"
																	kind="#{CodeConstants.medicalIngredient}"
																	label="#{bundle.medicine_ingredients}"
																	value="#{medicineListController.stockContentSelection.medicine.ingredients}" />
 -->
															</div>

														</div>


													</div>
													<div class="col-md-3">
														<div class="row">
															<div class="col-md-5 med-prod">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_producer}" />
															</div>
															<div class="col-md-7 padding-prices"
																style="width: 123px;">
																<!-- <codes:codeTree id="medicineControllerMedicineProducer"
																	disabled="true" kind="#{CodeConstants.producer}"
																	label="#{bundle.medicine_producer}"
																	value="#{medicineListController.stockContentSelection.medicine.producer}" /> -->
															</div>
														</div>
														<div class="row">
															<div class="col-md-5 med-prod">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_reg_no}" />
															</div>
															<div class="col-md-7 padding-prices"
																style="width: 123px;">
																<h:inputText id="medicineControllerMedicineRegNo"
																	readonly="true" label="#{bundle.medicine_reg_no}"
																	styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.medicine.regNo}" />



															</div>
														</div>
														<div class="row">
															<div class="col-md-5 med-prod">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_moh}" />
															</div>
															<div class="col-md-7 padding-prices"
																style="width: 123px;">
																<h:inputText id="medicineControllerMedicineMoh"
																	readonly="true" label="#{bundle.medicine_moh}"
																	styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.medicine.moh}" />

															</div>
														</div>

													</div>
												</div>

											</div>
											<div class="col-md-3">
												<div class="row">

													<div
														class="#{templateController.localeCode.equals('en')?'col-md-5':'col-md-6'}">
														<div class="row i-checks-padd">

															<div class="col-md-3">

																<div class="i-checks ">
																	<h:selectBooleanCheckbox disabled="true"
																		value="#{medicineListController.stockContentSelection.medicine.hasExpiryDate}"
																		styleClass="form-control">
																		<p:ajax process="@this" event="change" />
																	</h:selectBooleanCheckbox>
																</div>

															</div>
															<div class="col-md-9">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.has_expiry_date}" />
															</div>
														</div>
														<div class="row i-checks-padd">

															<div class="col-md-3">
																<div class="i-checks ">
																	<h:selectBooleanCheckbox disabled="true"
																		value="#{medicineListController.stockContentSelection.medicine.psychotropic}"
																		styleClass="form-control">
																		<p:ajax process="@this" event="change" />
																	</h:selectBooleanCheckbox>
																</div>

															</div>
															<div class="col-md-9">

																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_psychotropic}" />
															</div>
														</div>
														<div class="row i-checks-padd">

															<div class="col-md-3">
																<div class="i-checks ">
																	<h:selectBooleanCheckbox disabled="true"
																		value="#{medicineListController.stockContentSelection.medicine.chronic}"
																		styleClass="form-control">
																		<p:ajax process="@this" event="change" />
																	</h:selectBooleanCheckbox>
																</div>


															</div>
															<div class="col-md-9">
																<h:outputLabel class="col-sm-4 control-label"
																	value="#{bundle.medicine_chronic}" />
															</div>
														</div>

													</div>

													<div class="col-md-6">
														<p:panel id="imag_panel_id"
															styleClass="no-border no-padding imgClass">
															<div class="profile-userpic">
																<h:graphicImage id="image_id1"
																	value="/resources/images/body-bg.png" title="add_image"
																	styleClass="img-responsive new-pic"
																	rendered="#{medicineListController.renderProfileImage}" />
																<o:graphicImage
																	value="#{medicineListController.logoRelatedFileController.proImage}"
																	dataURI="true" id="image_id"
																	rendered="#{!medicineListController.renderProfileImage}"
																	styleClass="img-responsive">
																</o:graphicImage>


															</div>

														</p:panel>
													</div>
												</div>

											</div>
										</div>

									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="col-md-4">
												<div class="panel panel-green" style="height: 159px;">
													<div class="panel-heading">
														<span class="panel-title bold">#{medicineListController.getValue("quantities")}</span>
													</div>
													<div class="panel-body table-class">
														<p:dataTable
															currentPageReportTemplate="#{bundle.row_count}: {totalRecords}"
															emptyMessage="#{bundle.no_records}"
															rowIndexVar="rowIndex" rowKey="#{stckDet.id}"
															styleClass=" table-stck table table-striped table-bordered table-hover rf-table"
															value="#{medicineListController.stockContentSelection.stockContentDetails}"
															var="stckDet" widgetVar="quantitiesTableWgVar">

															<p:column headerText="#{bundle.detail_expiry_date}"
																sortBy="#{stckDet.expiryDate}"
																width="#{templateController.localeCode.equals('ar')?'118':'97'}">

																<h:outputLabel value="#{stckDet.expiryDate}">
																	<f:convertDateTime pattern="dd/MM/yyyy" />
																</h:outputLabel>

															</p:column>
															<p:column headerText="#{bundle.barcode_list}"
																sortBy="#{stckDet.barcode}"
																width="#{templateController.localeCode.equals('ar')?'76':''}">

																<h:outputLabel value="#{stckDet.barcode}" />

															</p:column>
															<p:column headerText="#{bundle.stock_content_quantity}">
																<h:outputLabel value="#{stckDet.filledQuantity}" />

															</p:column>
															<p:column headerText="#{bundle.stock_content_unit}">

																<!-- <codes:codeOutputText
																	kind="#{CodeConstants.medicineKind}"
																	styleClass="text-ellipsis text-class"
																	value="#{stckDet.unit}" /> -->
															</p:column>
														</p:dataTable>
													</div>
												</div>
											</div>
											<div class="col-md-4">
												<div class="panel panel-green" style="height: 159px;">
													<div class="panel-heading">
														<span class="panel-title bold">#{medicineListController.getValue("medicine_guarantors")}</span>
													</div>
													<div class="panel-body table-class">
														<p:dataTable
															currentPageReportTemplate="#{bundle.row_count}: {totalRecords}"
															editable="true" emptyMessage="#{bundle.no_records}"
															rowIndexVar="rowIndex" rowKey="#{guarantor.id}" rows="10"
															rowsPerPageTemplate="5,10,15"
															styleClass="table-stck table table-striped table-bordered table-hover rf-table"
															value="#{medicineListController.stockContentSelection.medicine.guarantors}"
															var="guarantor" widgetVar="guarantorsTableWgVar">

															<p:column headerText="#{bundle.guarantor_guarantor}"
																sortBy="#{guarantor.guarantor}" width="110">

																<!-- <codes:codeOutputText kind="#{CodeConstants.guarantor}"
																	value="#{guarantor.guarantor}"></codes:codeOutputText>
 -->
															</p:column>
															<p:column headerText="#{bundle.guarantor_discount}"
																sortBy="#{guarantor.discount}" width="118">

																<h:outputLabel label="#{bundle.guarantor_discount}"
																	value="#{guarantor.discount}" />

															</p:column>
															<p:column headerText="#{bundle.guarantor_coverage}"
																sortBy="#{guarantor.coverage}" width="115">
																<h:outputLabel label="#{bundle.guarantor_coverage}"
																	value="#{guarantor.coverage}" />

															</p:column>
														</p:dataTable>
													</div>
												</div>

											</div>
											<div class="col-md-4">
												<div class="panel panel-green" style="height: 159px;">
													<div class="panel-heading">
														<span class="panel-title bold">#{medicineListController.getValue("prices")}</span>
													</div>
													<div class="panel-body medInfoClass table-class">
														<div class="row">
															<div class="col-md-3 label-price">
																<h:outputLabel class="col-sm-4"
																	value="#{bundle.last_sale_price}">
																</h:outputLabel>
															</div>
															<div class="col-md-3 padding-prices">
																<h:inputText readonly="true" styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.medicine.sellingPrice}" />
															</div>

															<div class="col-md-3 label-price">
																<h:outputLabel class="col-sm-4"
																	value="#{bundle.last_sale_date}">
																</h:outputLabel>
															</div>
															<div class="col-md-3 padding-prices">
																<h:inputText readonly="true" styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.lastSaleDate}">
																	<f:convertDateTime pattern="dd/MM/yyyy" />
																</h:inputText>
															</div>

														</div>
														<div class="row">

															<div class="col-md-3 label-price">
																<h:outputLabel class="col-sm-4"
																	value="#{bundle.last_purchase_price}">
																</h:outputLabel>
															</div>
															<div class="col-md-3 padding-prices">
																<h:inputText readonly="true" styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.medicine.purchasePrice}" />
															</div>



															<div class="col-md-3 label-price">
																<h:outputLabel class="col-sm-4"
																	value="#{bundle.last_purchase_date}">
																</h:outputLabel>
															</div>
															<div class="col-md-3 padding-prices">
																<h:inputText readonly="true" styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.lastPurcahseDate}">
																	<f:convertDateTime pattern="dd/MM/yyyy" />
																</h:inputText>
															</div>


														</div>
														<div class="row">
															<div class="col-md-3 label-price">
																<h:outputLabel class="col-sm-4"
																	value="#{bundle.last_inventory_date}">

																</h:outputLabel>
															</div>
															<div class="col-md-3 padding-prices">
																<h:inputText readonly="true" styleClass="form-control"
																	value="#{medicineListController.stockContentSelection.lastInventoryDate}">
																	<f:convertDateTime pattern="dd/MM/yyyy" />
																</h:inputText>

															</div>
														</div>
													</div>
												</div>
											</div>
										</div>

									</div>

								</div>

							</div>
						</div>
					</div>
				</h:panelGroup>

			</div>
		</div>

		<p:dialog resizable="false" dynamic="true" closable="true"
			widgetVar="entity_dlg" styleClass="barcode-dialog-style"
			header="#{bundle.barcode_list}" id="barcodeDialogId"
			appendTo="@(body)" modal="true">

			<p:panel id="barcode_pnlId" styleClass="panel-Bar-class">

				<p:dataTable
					currentPageReportTemplate="#{bundle.row_count}: {totalRecords}"
					editable="true" emptyMessage="#{bundle.no_records}" id="barcode_dt"
					rowIndexVar="rowIndex"
					paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {CurrentPageReport}"
					rowKey="#{bar.id}"
					styleClass="table table-striped table-bordered table-hover rf-table"
					value="#{medicineListController.stockContentSelection.medicine.barcodes}"
					var="bar" widgetVar="barcodeTableWgVar">

					<p:column headerText="#{bundle.medicine_barcode}">
						<center>
							<h:inputText disabled="true" id="barcId" value="#{bar.barcode}">
								<f:ajax execute="@this" />
							</h:inputText>
						</center>
					</p:column>

				</p:dataTable>
			</p:panel>

		</p:dialog>


		<p:confirmDialog header="#{bundle.delete}" global="true"
			styleClass="confirm-dialog">
			<p:commandButton value='#{bundle.yes}' type="button"
				styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			<p:commandButton value='#{bundle.no}' type="button"
				styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
		</p:confirmDialog>

	</ui:define>
	<ui:define name="customOutputScript">
		<o:onloadScript>
				$(document).ready(function () {
	                $('.i-checks').iCheck({
	                    checkboxClass: 'icheckbox_square-green',
	                    radioClass: 'iradio_square-green',
	                });
	                
	            });
	            
	            </o:onloadScript>
		<h:outputScript name="hotkeys.js" library="js" />
		<h:outputScript name="data-table.js" library="js" />
		<h:outputScript name="prime-data-table-editor.js" library="js" />
	</ui:define>

</ui:composition>
</html>
