<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{personBean.page}' />
		<f:event type="preRenderView" listener='#{personBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Person entities" />

	<ui:define name="header">
		Person
	</ui:define>

	<ui:define name="subheader">
		Search Person entities
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanExamplePid" value="Pid:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control" id="personBeanExamplePid"
									value="#{personBean.example.pid}" />
								<h:message for="personBeanExamplePid" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanExampleName" value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="personBeanExampleName" value="#{personBean.example.name}" />
								<h:message for="personBeanExampleName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanExampleDepartment" value="Department:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="personBeanExampleDepartment"
									value="#{personBean.example.department}" />
								<h:message for="personBeanExampleDepartment" styleClass="error" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanExampleFacilityLocation"
									value="Facility Location:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="personBeanExampleFacilityLocation"
									value="#{personBean.example.facilityLocation}" />
								<h:message for="personBeanExampleFacilityLocation"
									styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="personBeanExampleUnit" value="Unit:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="personBeanExampleUnit"
									value="#{personBean.example.unit}" filter="true"
									filterMatchMode="contains" converter="#{unitConverter}">
									<f:selectItem />
									<f:selectItems value="#{unitBean.all}" var="unit"
										itemLabel="#{unit.uid}" itemValue="#{unit}" />
								</p:selectOneMenu>
								<h:message for="personBeanExampleUnit" styleClass="error" />
							</div>
						</div>

					</div>
				</div>
				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{personBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Clear Search"
						action='#{personBean.clearSearch}' styleClass="btn btn-primary" />

					<h:commandLink value="Create New" action='#{personBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<p:dataTable id="personBeanPageItems" styleClass="data-table"
				value="#{personBean.pageItems}" var="_item">
				<p:column filterBy="#{_item.pid}" sortBy="#{_item.pid}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Pid" />
					</f:facet>
					<h:link outcome="/person/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPid" value="#{_item.pid}" />
					</h:link>
				</p:column>
				<p:column filterBy="#{_item.name}" sortBy="#{_item.name}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/person/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</p:column>
				<p:column filterBy="#{_item.unit.name}" sortBy="#{_item.unit.name}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Unit" />
					</f:facet>
					<h:link outcome="/person/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemUnit" value="#{_item.unit.name}" />
					</h:link>
				</p:column>
				<p:column filterBy="#{_item.department}" filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Department" />
					</f:facet>
					<h:link outcome="/person/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemDepartment" value="#{_item.department}" />
					</h:link>
				</p:column>
				<p:column filterBy="#{_item.facilityLocation}"
					filterMatchMode="contains">

					<f:facet name="header">
						<h:outputText value="Facility Location" />
					</f:facet>
					<h:link outcome="/person/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemFacilityLocation"
							value="#{_item.facilityLocation}" />
					</h:link>
				</p:column>
			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{personBean}' />
			</ui:include>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
		</h:form>

	</ui:define>

</ui:composition>
