<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{personBean.id}' />
		<f:event type="preRenderView" listener='#{personBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="View Person" />

	<ui:define name="header">
		Person
	</ui:define>

	<ui:define name="subheader">
		View existing Person
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">

			<h:outputLabel for="personBeanPersonPid" value="Pid:" />
			<h:outputText id="personBeanPersonPid"
				value="#{personBean.person.pid}" />
			<h:outputText />

			<h:outputLabel for="personBeanPersonName" value="Name:" />
			<h:outputText id="personBeanPersonName"
				value="#{personBean.person.name}" />
			<h:outputText />

			<h:outputLabel for="personBeanPersonDepartment" value="Department:" />
			<h:outputText id="personBeanPersonDepartment"
				value="#{personBean.person.department}" />
			<h:outputText />

			<h:outputLabel for="personBeanPersonFacilityLocation"
				value="Facility Location:" />
			<h:outputText id="personBeanPersonFacilityLocation"
				value="#{personBean.person.facilityLocation}" />
			<h:outputText />

			<h:outputLabel for="personBeanPersonUnit" value="Unit:" />
			<h:link id="personBeanPersonUnit" outcome="/unit/view"
				rendered="#{!empty personBean.person.unit}"
				value="#{personBean.person.unit}">
				<f:param name="id" value="#{personBean.person.unit.id}" />
			</h:link>
			<h:outputText />

		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search"
				styleClass="btn btn-primary" />
			<h:link value="Edit" outcome="create" includeViewParams="true"
				styleClass="btn btn-primary" />
			<h:link value="Create New" outcome="create"
				styleClass="btn btn-primary" />
		</div>
	</ui:define>

</ui:composition>