<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>#{empty pageTitle ? 'Page Title' : pageTitle}</title>
	<link rel="icon" href='#{resource["favicon.ico"]}' />
	<h:outputStylesheet library="plugins"
		name="bootstrap/css/bootstrap.css" />



	<h:outputStylesheet name="forge-style.css" />

	<h:outputScript library="primefaces" name="jquery/jquery.js"
		target="head" />
	<h:outputScript library="primefaces" name="jquery/jquery-plugins.js"
		target="head" />

	<h:outputStylesheet name="font-awesome/css/font-awesome.css" />
</h:head>

<h:body>
	<ui:debug
		rendered="#{facesContext.application.projectStage == 'Development'}" />
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<h:link id="brandLink" outcome="/index.xhtml" styleClass="brand">
					<h:outputText value="Welcome to "
						rendered=" #{request.userPrincipal !=null} " />
                    EMS
                    <h:outputText
						value=",  #{request.userPrincipal.name}"
						rendered="#{request.userPrincipal !=null} " />
				</h:link>

				<h:link outcome="/settings.xhtml">
					<img class="settings-img" src="../resources/settings.png" />
				</h:link>
			</div>
		</div>
	</div>

	<div class="container forgecontainer">
		<div id="navigation">
			<h:link id="homeLink" outcome="/index.xhtml">
				<h:graphicImage value='#{resource["forge-logo.png"]}' alt="EMS"
					border="0" />
			</h:link>
			<ul>
				<li><h:link outcome="/item/search" value="Item" /></li>
				<li><h:link outcome="/rentalCard/search" value="Rental Card" /></li>
				<li><h:link outcome="/maintainence/search" value="Maintainence" /></li>
				<li><h:link outcome="/damaged/search" value="Damaged" /></li>
				<p:separator />
				<li><h:link outcome="/person/search" value="Person" /></li>
				<li><h:link outcome="/company/search" value="Company" /></li>
				<li><h:link outcome="/project/search" value="Project" /></li>
				<li><h:link outcome="/unit/search" value="Unit" /></li>
			</ul>
		</div>

		<div id="content">
			<h1>
				<ui:insert name="header" />
			</h1>
			<h2>
				<ui:insert name="subheader" />
			</h2>

			<ui:insert name="main" />
		</div>
	</div>

	<footer>
		<div id="footer-wrapper">
			<p>Powered by D7noun</p>
		</div>
	</footer>

</h:body>
</html>
