<!DOCTYPE html>
<html dir="#{templateController.localeCode.equals('ar')?'rtl':'ltr'}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core">

<h:head>

	<title>#{bundle.project_name} #{title == null ? '' : ' |
		'.concat(title)}</title>

	<link rel="shortcut icon" href="#{resource['img:rafed.png']}" />
	<h:outputStylesheet name="font-awesome.css"
		library="font-awesome-4.0.3/css" />


	<h:outputStylesheet name="bootstrap.min.css" library="css" />
	<h:outputStylesheet name="bootstrap-switch-rtl.min.css"
		library="js/plugins/bootstrap-switch/css" />

	<!-- Toastr style -->
	<h:outputStylesheet name="toastr.min.css" library="css/plugins/toastr" />
	<!-- <h:outputStylesheet name="components-md-rtl.min.css" library="css" /> -->
	<!-- 	<h:outputStylesheet name="toastr-rtl.min.css"
		library="css/plugins/toastr"
		rendered="#{templateController.localeCode.equals('ar')}" /> -->

	<!-- Gritter -->
	<h:outputStylesheet name="jquery.gritter.css"
		library="js/plugins/gritter" />



	<h:outputStylesheet name="general.css" library="css" />
	<h:outputStylesheet name="custom.css" library="css" />
	<h:outputStylesheet name="animate.css" library="css" />

	<h:outputStylesheet name="spinner.css" library="css" />
	<h:outputStylesheet name="style.css" library="css" />
	<h:outputStylesheet name="jquery.minicolors.css" library="css" />

	<h:outputStylesheet name="templatee.css" library="css/pages" />

	<h:outputStylesheet name="bootstrap-datepicker3.min.css"
		library="css/datepicker" />

	<h:outputStylesheet name="bootstrap-datetimepicker.min.css"
		library="css/datepicker" />
	<h:outputStylesheet name="bootstrap-timepicker.min.css"
		library="css/datepicker" />

	<h:outputStylesheet
		rendered="#{templateController.localeCode.equals('en')}"
		name="datepicker-en.css" library="css/datepicker" />
	<h:outputStylesheet
		rendered="#{templateController.localeCode.equals('ar')}"
		name="datepicker-ar.css" library="css/datepicker" />


	<h:outputStylesheet
		rendered="#{templateController.localeCode.equals('ar')}"
		name="toastr-ar.css" library="css" />


	<ui:insert name="customStyleSheet"></ui:insert>

	<f:facet name="first">
		<h:outputScript name="jquery-2.1.1.js" library="js" />
		<h:outputScript library="primefaces" name="jquery/jquery.js" />

	</f:facet>
	<style>
.dropdown-menu {
	min-width: 243px !important;
}

.dropdown-menu.profile {
	min-width: 150px !important;
}

.nav>li>a {
	font-size: 14px !important;
}

body {
	font-family: droidkufi !important;
}
</style>

</h:head>

<h:body styleClass="top-navigation  pace-done">

	<ui:insert name="customAjaxStatus">
		<p:ajaxStatus
			style="position: fixed; left:5px;  top: 60px; z-index: 100000">
			<f:facet name="start">
				<h:graphicImage value="/resources/img/ajax-loader.gif" />
			</f:facet>
			<f:facet name="complete">
				<h:outputText value="" />
			</f:facet>
		</p:ajaxStatus>
	</ui:insert>

	<h:inputText value="#{facesContext.externalContext.requestContextPath}"
		style="display:none" styleClass="server-name" />

	<div id="wrapper">
		<div id="page-wrapper" class="gray-background">
			<div class="row border-bottom white-bg">
				<nav class="fixedMenuBar navbar-default navbar-static-top"
					role="navigation">
					<div class="navbar-header"
						style="#{templateController.localeCode.equals('ar')?'float:right;':'float:left;'}">
						<button class="navbar-toggle collapsed" type="button"
							data-toggle="collapse" data-target="#navbar"
							aria-expanded="false" aria-controls="navbar">
							<i class="fa fa-reorder"></i>
						</button>
						<span class="navbar-brand"> <h:link outcome="home">
								<!-- <h:graphicImage value="/resources/img/pharmacy1.png"
									style="height: 40px; margin-top: -6%; width: 94px;">
								</h:graphicImage> -->
								<h:outputLabel value="#{bundle.project_name}" />
							</h:link> <span style="font-size: 13px;">#{templateController.projectVersion}</span>
						</span>
						<!-- <span class="navbar-brand" href="#"
						style="color: white; width: 260px;"><span
						style="font-size: 30px;">Rafed</span> <small>#{templateController.projectVersion}</small> </span> -->
					</div>
					<div id="navbar" class="navbar-collapse collapse "
						style="background-color: #1ba1e2;">
						<ul class="nav navbar-nav"
							style="#{templateController.localeCode.equals('ar')?'float:right;':'float:left;'}"
							id="side-menu">
							<li
								style="#{templateController.localeCode.equals('ar')?'float:right;':'float:left;'}"><h:link
									outcome="home">
									<i class="fa fa-th-large"></i>
									<span class="nav-label">#{templateController.getValue('home')}</span>
								</h:link></li>

							<!-- begin PAGES DROPDOWN -->
							<ui:repeat var="menu" value="#{templateController.menu}">
								<h:panelGroup rendered="#{menu.permission}">
									<c:if test="#{menu.subMenuDetails.isEmpty()}">
										<li
											style="#{templateController.localeCode.equals('ar')?'float:right;':'float:left;'}"><h:link
												outcome="#{menu.url}" styleClass="menu-title">
												<i class="#{menu.iconName}"></i>
												<span class="nav-label"> #{menu.itemLabel}</span>
											</h:link></li>

									</c:if>
									<c:otherwise>
										<li
											style="#{templateController.localeCode.equals('ar')?'float:right;':'float:left;'}"
											class="dropdown"><a class="dropdown-toggle" href="#"
											data-toggle="dropdown" role="button" aria-expanded="false"><i
												class="#{menu.iconName}"></i> <span class="nav-label">#{menu.itemLabel}</span><span
												class="fa fa-caret-down"></span></a>


											<ul
												style="#{templateController.localeCode.equals('ar')?'right: 0;':''}"
												class="dropdown-menu" role="menu">

												<ui:repeat var="sub" value="#{menu.subMenuDetails}">
													<h:panelGroup rendered="#{sub.permission}">
														<li><h:link styleClass="menu-item"
																style="#{templateController.isCards(menu.itemLabel)
																	|| templateController.isInvoices(menu.itemLabel)?'display: inline-table;width:81%;':''} #{templateController.localeCode.equals('ar')?'text-align:right;':''}"
																outcome="#{sub.url}">
																<i class="#{sub.iconName}"></i>
																<span>#{sub.itemLabel}</span>
															</h:link> <h:link
																rendered="#{templateController.isCards(menu.itemLabel) ||
																		templateController.isInvoices(menu.itemLabel)}"
																outcome="#{templateController.newCardPermission(sub.url)}"
																data-i18n="nav.icons.icons_feather"
																style="#{templateController.localeCode.equals('ar')?'float:left;':'float:right;'}"
																styleClass="add-entity">
																<span class="tag tag float-xs-right mr-2 "
																	style="color: #1ab394 !important;"><i
																	class="fa fa-plus" style="color: #1ab394 !important;"></i></span>
															</h:link></li>
													</h:panelGroup>
												</ui:repeat>
											</ul></li>

									</c:otherwise>
								</h:panelGroup>


							</ui:repeat>




							<!-- end PAGES DROPDOWN -->
						</ul>
						<h:form>
							<ul
								class="nav navbar-top-links #{templateController.localeCode.equals('ar')?'navbar-left':'navbar-right'}">
								<h:panelGroup>
									<li class="langStyle"><h:selectOneMenu
									disabled="true"
											styleClass="chosen-select selectLang" id="selectLangId"
											value="#{templateController.localeCode}"
											onchange="submit();rcForUrl();"
											valueChangeListener="#{templateController.countryLocaleCodeChanged}">

											<f:selectItems value="#{templateController.languages}" />
										</h:selectOneMenu></li>
								</h:panelGroup>

								<li><a class="dropdown-toggle" href="#"
									data-toggle="dropdown"><span> <h:graphicImage
												style="width:33px;height:33px;"
												value="/resources/img/user.png" class="img-circle" />
									</span> <span> <strong class="font-bold" style="color: white;">user name</strong>
									</span></a>
									<ul
										class="dropdown-menu profile animated #{templateController.localeCode.equals('ar')?'fadeInLeft':'fadeInRight'} m-t-xs">
										<li><h:link outcome="userProfile"
												value="#{bundle.personal_profile}"></h:link></li>
										<li class="divider"></li>
										<li><h:commandLink action="#{loginController.logout()}"
												value="#{bundle.logout}">
											</h:commandLink></li>
									</ul></li>


								<li></li>
							</ul>


						</h:form>

					</div>
				</nav>
			</div>
			<!-- <div class="row wrapper gray-background">
				<div class="col-lg-10">
					<h1>

						#{subtitle}
						<span style="color: #ed5565; font-size: 20px">
							#{subsubtitle}</span>
						<h:link rendered="#{showLink}" value="#{subsubtitle}"
							style="font-size:20px;" styleClass="link" outcome="project-card">
							<f:param name="id" value="#{projectId}" />
							<f:param name="state" value="#{projectState}" />
						</h:link>
						<h:panelGroup rendered="#{showCount}" id="countId">
							<span class="label label-danger countClass">#{count} </span>
						</h:panelGroup>
					</h1>

					<ol class="breadcrumb gray-background"
						style="#{showBreadcrumb==null?'':'display:none'}">
						<li><h:link outcome="home" class="link" value="Home" /></li>
						<li style="#{prevPage==null?'display:none':''}"><h:link
								outcome="#{prevPageLink}" class="link" value="#{prevPage}">
								<f:param name="id" value="#{projectId}"></f:param>
							</h:link></li>

						<li class="active"><strong>#{subtitle}</strong></li>
					</ol>
				</div>
				<div class="col-lg-2"></div>
			</div> -->

			<!-- 		<div class="row border-bottom">
				<nav class="navbar navbar-static-top" role="navigation"
					style="margin-bottom: 0">
				<ul class="nav navbar-top-links navbar-right">

					<li><h:form>
							<h:commandLink action="#{loginController.logout()}"
								style="color:inherit;padding: 3px 20px;border-radius: 3px;font-weight: normal; line-height: 25px; margin: 4px;float: right;">
								<i class="fa fa-sign-out" style="margin-left: 5px;"></i>#{bundle.logout}
									</h:commandLink>
						</h:form></li>
				</ul>
				</nav>
			</div> -->

			<div class="wrapper wrapper-content " style="min-height: 450px">
				<h:form id="myForm">
					<ui:insert name="customFormContent" />
				</h:form>

				<ui:insert name="customContentWithoutForm"></ui:insert>
			</div>

		</div>

	</div>


	<!-- Load site level scripts -->

	<!-- Mainly scripts -->

	<!-- jQuery UI -->
	<h:outputScript name="jquery-ui.min.js" library="js/plugins/jquery-ui" />
	<h:outputScript name="bootstrap.min.js" library="js" />


	<h:outputScript name="jquery.metisMenu.js"
		library="js/plugins/metisMenu" />

	<h:outputScript name="jquery.slimscroll.min.js"
		library="js/plugins/slimscroll" />

	<!-- Custom and plugin javascript -->
	<h:outputScript name="inspinia.js" library="js" />

	<h:outputScript name="pace.min.js" library="js/plugins/pace" />


	<!-- GITTER -->
	<!-- 	<h:outputScript name="jquery.gritter.min.js"
		library="js/plugins/gritter" /> -->

	<!-- Toastr -->
	<h:outputScript name="bootstrap-colorpicker.js" library="js" />
	<h:outputScript name="app.min.js" library="js/switch" />
	<h:outputScript name="jquery.dataTables.js"
		library="js/plugins/dataTables"></h:outputScript>
	<h:outputScript name="jquery.minicolors.min.js" library="js" />
	<h:outputScript name="bootstrap-switch.min.js"
		library="js/plugins/bootstrap-switch/js" />

	<h:outputScript name="template.js" library="js" />
	<h:outputScript name="general.js" library="js" />

	<h:outputScript name="toastr.min.js" library="js/plugins/toastr" />
	<h:outputScript name="icheck.min.js" library="js/plugins/iCheck" />

	<h:outputScript name="bootstrap-datepicker.js" library="js/datepicker" />

	<h:outputScript name="bootstrap-datetimepicker.min.js"
		library="js/datepicker" />
	<h:outputScript name="bootstrap-timepicker.js" library="js/datepicker" />
	<h:outputScript
		rendered="#{templateController.localeCode.equals('ar')}"
		name="bootstrap-datetimepicker.ar.js" library="js/datepicker" />

	<script>
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
            });
        </script>

	<h:panelGroup id="messageScript">

		<h:outputScript rendered="#{not empty facesContext.messageList}">

			<ui:repeat value="#{facesContext.messageList}" var="message">
				generate("#{message.summary}","#{message.detail}","#{templateController.localeCode}");
			</ui:repeat>

		</h:outputScript>

	</h:panelGroup>
	<ui:insert name="customOutputScript" />
</h:body>

</html>