<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{damagedBean.page}' />
		<f:event type="preRenderView" listener='#{damagedBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Damaged entities" />

	<ui:define name="header">
		Damaged
	</ui:define>

	<ui:define name="subheader">
		Search Damaged entities
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="damagedBeanDamagedDate" value="Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="damagedBeanDamagedDate"
									value="#{damagedBean.example.date}" />
								<h:message for="damagedBeanDamagedDate" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="damagedBeanDamagedReason" value="Reason:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="damagedBeanDamagedReason"
									value="#{damagedBean.example.reason}" />
								<h:message for="damagedBeanDamagedReason" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label" value="Item:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="damagedBeanDamagedItem"
									value="#{damagedBean.example.item}" filter="true"
									filterMatchMode="contains" converter="#{itemConverter}">
									<f:selectItem />
									<f:selectItems value="#{itemBean.all}" var="item"
										itemLabel="#{item.displayName()}" itemValue="#{item}" />
								</p:selectOneMenu>
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									value="Person In Charge:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="damagedBeanDamagedPersonInCharge"
									value="#{damagedBean.example.personInCharge}" filter="true"
									filterMatchMode="contains" converter="#{personConverter}">
									<f:selectItem />
									<f:selectItems value="#{personBean.all}" var="person"
										itemLabel="#{person.name}" itemValue="#{person}" />
								</p:selectOneMenu>
							</div>
						</div>
					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{damagedBean.search}'
						styleClass="btn btn-primary" />
							<h:commandLink value="Clear Search"
						action='#{damagedBean.clearSearch}' styleClass="btn btn-primary" />
						
					<h:commandLink value="Create New" action='#{damagedBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>

			</h:panelGroup>

			<p:dataTable id="damagedBeanPageItems" styleClass="data-table"
				value="#{damagedBean.pageItems}" var="_item">
				<p:column>
					<f:facet name="header">
						<h:outputText value="Date" />
					</f:facet>
					<h:link outcome="/damaged/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemDate" value="#{_item.date}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Reason" />
					</f:facet>
					<h:link outcome="/damaged/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemReason" value="#{_item.reason}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Item" />
					</f:facet>
					<h:link outcome="/damaged/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemItem" value="#{_item.item.displayName()}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Perosn In Charge" />
					</f:facet>
					<h:link outcome="/damaged/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPersonInCharge"
							value="#{_item.personInCharge.name}" />
					</h:link>
				</p:column>
			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{damagedBean}' />
			</ui:include>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
		</h:form>

	</ui:define>

</ui:composition>
