<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{damagedBean.id}' />
		<f:event type="preRenderView" listener='#{damagedBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="View Damaged" />

	<ui:define name="header">
		Damaged
	</ui:define>

	<ui:define name="subheader">
		View existing Damaged
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">

			<h:outputLabel for="damagedBeanDamagedDate" value="Date:" />
			<h:outputText id="damagedBeanDamagedDate"
				value="#{damagedBean.damaged.date}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="damagedBeanDamagedReason" value="Reason:" />
			<h:outputText id="damagedBeanDamagedReason"
				value="#{damagedBean.damaged.reason}" />
			<h:outputText />

			<h:outputLabel for="damagedBeanDamagedItem" value="Item:" />
			<h:link outcome="/item/view">
				<h:outputText id="damagedBeanDamagedItem"
					value="#{damagedBean.damaged.item.displayName()}" />
				<f:param name="id" value="#{damagedBean.damaged.item.id}" />
			</h:link>
			<h:outputText />

			<h:outputLabel for="damagedBeanDamagedPersonInCharge"
				value="Person In Charge:" />
			<h:link outcome="/person/view">
				<h:outputText id="damagedBeanDamagedPersonInCharge"
					value="#{damagedBean.damaged.personInCharge.name}" />
				<f:param name="id" value="#{damagedBean.damaged.personInCharge.id}" />
			</h:link>
			<h:outputText />
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search"
				styleClass="btn btn-primary" />
			<h:link value="Edit" outcome="create" includeViewParams="true"
				styleClass="btn btn-primary" />
			<h:link value="Create New" outcome="create"
				styleClass="btn btn-primary" />
		</div>
	</ui:define>

</ui:composition>