<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="id" value='#{projectBean.id}' />
		<f:event type="preRenderView" listener='#{projectBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Project" />

	<ui:define name="header">
		Project
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty projectBean.id}'>
				Edit existing Project
			</c:when>
			<c:otherwise>
				Create a new Project
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:form id="create">

			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="projectBeanProjectPid" value="Pid: *" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="projectBeanProjectPid" required="true"
									requiredMessage="No Project Id"
									value="#{projectBean.project.pid}" />
								<h:message for="projectBeanProjectPid" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="projectBeanProjectName" value="Project Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="projectBeanProjectName" value="#{projectBean.project.name}" />
								<h:message for="projectBeanProjectName" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="projectBeanProjectNickName" value="Project Nick Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="projectBeanProjectNickName"
									value="#{projectBean.project.nickName}" />
								<h:message for="projectBeanProjectNickName" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="save" action='#{projectBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty projectBean.id}'>
								<h:link value="cancel" outcome="search"
									styleClass="btn btn-warning" />
								<h:commandLink value="delete" action='#{projectBean.delete}'
									styleClass="btn btn-danger" />
							</c:when>
							<c:otherwise>
								<h:link value="cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>
		</h:form>
	</ui:define>

</ui:composition>