<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{projectBean.page}' />
		<f:event type="preRenderView" listener='#{projectBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Project Entities" />

	<ui:define name="header">
		Project
	</ui:define>

	<ui:define name="subheader">
		Search Project Entities
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<h:form id="search">

			<h:panelGroup styleClass="search">
				<div class="row">

					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="projectBeanExamplePid" value="Pid: " />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="projectBeanExamplePid" value="#{projectBean.example.pid}" />
								<h:message for="projectBeanExamplePid" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="projectBeanExampleName" value="Project Name: " />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="projectBeanExampleName" value="#{projectBean.example.name}" />
								<h:message for="projectBeanExampleName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="projectBeanExampleNickName" value="Nick Name: " />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="projectBeanExampleNickName"
									value="#{projectBean.example.nickName}" />
								<h:message for="projectBeanExampleNickName" styleClass="error" />
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="search" action='#{projectBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="create" action='#{projectBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<p:dataTable id="projectBeanPageItems" styleClass="data-table"
				value="#{projectBean.pageItems}" var="_item">

				<p:column>
					<f:facet name="header">
						<h:outputText value="Pid" />
					</f:facet>
					<h:link outcome="/project/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPid" value="#{_item.pid}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/project/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Nick Name" />
					</f:facet>
					<h:link outcome="/project/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemNickName" value="#{_item.nickName}" />
					</h:link>
				</p:column>

			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{projectBean}' />
			</ui:include>
		</h:form>

	</ui:define>

</ui:composition>
