<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{projectBean.id}' />
		<f:event type="preRenderView" listener='#{projectBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="#{app.view_existing_project}" />

	<ui:define name="header">
		#{app.project}
	</ui:define>

	<ui:define name="subheader">
		#{app.view_existing_project}
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">

		<!-- 		<h:outputStylesheet name="css/pages/project/view.css" /> -->

		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="projectBeanProjectPid" value="#{app.pid}:" />
			<h:outputText id="projectBeanProjectPid"
				value="#{projectBean.project.pid}" />
			<h:outputText />
			<h:outputLabel for="projectBeanProjectName"
				value="#{app.project_name}:" />
			<h:outputText id="projectBeanProjectName"
				value="#{projectBean.project.name}" />
			<h:outputText />
			<h:outputLabel for="projectBeanProjectNickName"
				value="#{app.project_nick_name}:" />
			<h:outputText id="projectBeanProjectNickName"
				value="#{projectBean.project.nickName}" />
			<h:outputText />
		</h:panelGrid>

		<div class="buttons">
			<h:link value="#{app.view_all}" outcome="search"
				styleClass="btn btn-primary" />
			<h:link value="#{app.edit}" outcome="create" includeViewParams="true"
				styleClass="btn btn-primary" />
			<h:link value="#{app.create_a_new_project}" outcome="create"
				styleClass="btn btn-primary" />
		</div>
	</ui:define>

</ui:composition>