<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{itemBean.id}' />
		<f:event type="preRenderView" listener='#{itemBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Item" />

	<ui:define name="header">
		Item
	</ui:define>

	

	<ui:define name="footer" />

	<ui:define name="main">

		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.css"></link>
		<h:outputStylesheet name="pages/item/create.css" library="css" />

		<h:form id="create" prependId="false">
			<p:growl id="msg" showDetail="false" />

			<h:outputStylesheet name="css/attachment.css" />
			<h:outputStylesheet name="css/selectOneMenu.css" />

			<div class="col-md-7">
				<div class="row">
					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<p:outputLabel styleClass="control-label"
									for="itemBeanItemDeviceId" value="Device Id:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanItemDeviceId"
									styleClass="form-control #{component.valid ? '' : 'border-red'}"
									value="#{itemBean.item.deviceId}" required="true"
									requiredMessage="Empty Item Device Id" />
								<h:message id="itemBeanItemDeviceMsgId"
									for="itemBeanItemDeviceId" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<p:outputLabel styleClass="control-label" for="itemBeanItemName"
									value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanItemName"
									styleClass="form-control #{component.valid ? '' : 'border-red'}"
									value="#{itemBean.item.name}" required="true"
									requiredMessage="Empty Item Name" />
								<h:message id="itemBeanItemNameMsg" for="itemBeanItemName"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemSerialNumber" value="Serial Number:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="itemBeanItemSerialNumber"
									value="#{itemBean.item.serialNumber}" />
								<h:message for="itemBeanItemSerialNumber" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemModel" value="Model:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control" id="itemBeanItemModel"
									value="#{itemBean.item.model}" />
								<h:message for="itemBeanItemModel" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemOrigin" value="Origin:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control" id="itemBeanItemOrigin"
									value="#{itemBean.item.origin}" />
								<h:message for="itemBeanItemOrigin" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemPersonInCharge" value="Person In Charge:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="itemBeanItemPersonInCharge"
									value="#{itemBean.item.personInCharge}" filter="true"
									filterMatchMode="contains" converter="#{personConverter}">
									<f:selectItem />
									<f:selectItems value="#{personBean.all}" var="person"
										itemValue="#{person}"
										itemLabel="#{person.pid} | #{person.name} | #{person.unit.uid}" />
								</p:selectOneMenu>
								<h:message for="itemBeanItemPersonInCharge" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemManufacturer" value="Manufacturing Company:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="itemBeanItemManufacturer"
									value="#{itemBean.item.manufacturingComapny}" filter="true"
									filterMatchMode="contains" converter="#{companyConverter}">
									<f:selectItem />
									<f:selectItems value="#{companyBean.all}" var="comapny"
										itemLabel="#{comapny.name} | #{comapny.phoneNumber}"
										itemValue="#{comapny}" />
								</p:selectOneMenu>
								<h:message for="itemBeanItemManufacturer" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemPurchaseCompany" value="Purshase Company:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="itemBeanItemPurchaseCompany"
									value="#{itemBean.item.purchaseCompany}" filter="true"
									filterMatchMode="contains" converter="#{companyConverter}">
									<f:selectItem />
									<f:selectItems value="#{companyBean.all}" var="comapny"
										itemLabel="#{comapny.name} | #{comapny.phoneNumber}"
										itemValue="#{comapny}" />
								</p:selectOneMenu>
								<h:message for="itemBeanItemPurchaseCompany" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemManufactureDate" value="Manufacture Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="itemBeanItemManufactureDate"
									value="#{itemBean.item.manufactureDate}">
								</p:calendar>
								<h:message for="itemBeanItemManufactureDate" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemPurchaseDate" value="Purchase Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="itemBeanItemPurchaseDate"
									value="#{itemBean.item.purchaseDate}"></p:calendar>
								<h:message for="itemBeanItemPurchaseDate" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemPurchasePrice" value="Purchase Price:" />
							</div>
							<div class="col-md-7">
								<p:inputNumber id="itemBeanItemPurchasePrice"
									inputStyleClass="form-control"
									value="#{itemBean.item.purchasePrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
								<h:message for="itemBeanItemPurchasePrice" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemActualPrice" value="Actual Price:" />
							</div>
							<div class="col-md-7">
								<p:inputNumber id="itemBeanItemActualPrice"
									inputStyleClass="form-control"
									value="#{itemBean.item.actualPrice}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0" />
								<h:message for="itemBeanItemActualPrice" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemSpecilities" value="Specilities:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanItemSpecilities"
									styleClass="itemBeanItemSpecilities"
									value="#{itemBean.item.specilities}" />
								<h:message for="itemBeanItemSpecilities" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemUsages" value="Usages:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanItemUsages"
									styleClass="itemBeanItemUsages" value="#{itemBean.item.usages}" />
								<h:message for="itemBeanItemUsages" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemDomains" value="Domains:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanItemDomains"
									styleClass="itemBeanItemDomains"
									value="#{itemBean.item.domains}" />
								<h:message for="itemBeanItemDomains" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemTypes" value="Types:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanItemTypes"
									styleClass="itemBeanItemTypes" value="#{itemBean.item.types}" />
								<h:message for="itemBeanItemTypes" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemAccessories" value="Accessories:" />
							</div>
							<div class="col-md-7">
								<p:selectCheckboxMenu id="itemBeanItemAccessories"
									value="#{itemBean.accessories}" multiple="true"
									filter="true" filterMatchMode="contains">
									<f:selectItems value="#{itemBean.allAvailableItems}" var="item"
										itemLabel="#{item.displayName()}" />
								</p:selectCheckboxMenu>
								<h:message for="itemBeanItemAccessories" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemState" value="State:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="itemBeanItemState"
									value="#{itemBean.item.state}"
									disabled="#{itemBean.item.canBeChanged()}">
									<f:selectItem itemLabel="Available" itemValue="available" />
									<f:selectItem itemLabel="Not Available"
										itemValue="not_available" />
									<f:selectItem itemLabel="Rented" itemValue="rented"
										itemDisabled="true" />
									<f:selectItem itemLabel="Damaged" itemValue="damaged"
										itemDisabled="true" />
									<f:selectItem itemLabel="Under Maintenance"
										itemValue="under_maintenance" itemDisabled="true" />
								</p:selectOneMenu>
								<h:message for="itemBeanItemState" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemFirstHand" value="First Hand:" />
							</div>
							<div class="col-md-7">
								<p:inputSwitch id="itemBeanItemFirstHand"
									value="#{itemBean.item.firstHand}" onLabel="Yes" offLabel="No" />
								<h:message for="itemBeanItemFirstHand" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="itemBeanItemEvacuation" value="Evacuation:" />
							</div>
							<div class="col-md-7">
								<p:inputSwitch id="itemBeanItemEvacuation"
									value="#{itemBean.item.evacuation}" onLabel="Yes" offLabel="No" />
								<h:message for="itemBeanItemEvacuation" styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-5">

				<div class="row">

					<h:panelGroup rendered="#{!empty itemBean.id}">
						<h:panelGroup id="itemPicture">
							<p:galleria var="attachment" value="#{itemBean.item.attachments}"
								autoPlay="false">
								<p:graphicImage value="#{itemBean.picture}"
									styleClass="attachment-picture">
									<f:param name="attachmentId" value="#{attachment.id}" />
								</p:graphicImage>
							</p:galleria>
						</h:panelGroup>
					</h:panelGroup>

				</div>

				<h:panelGroup rendered="#{!empty itemBean.id}">
					<div class="row">
						<p:dataTable id="attachmentsDataTable" widgetVar="attachmentVar"
							rows="5" paginator="true"
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15,20,50"
							paginatorAlwaysVisible="false" paginatorPosition="bottom"
							value="#{itemBean.item.attachments}" var="attachment"
							rowKey="#{attachment.id}" rowIndexVar="index" editable="true"
							editMode="cell">

							<f:facet name="header">

								<h:outputText value="Attachments"
									styleClass="attachmentHeaderText" />

								<p:fileUpload widgetVar="fileUploadVar" multiple="true"
									auto="true" styleClass="fileUploader hide"
									fileUploadListener="#{itemBean.handleFileUpload}"
									process="@this" update="attachmentsDataTable" />

								<h:commandLink onclick="$('.fileUploader input').click()"
									styleClass="btn btn-primary white attachmentHeaderButton">
									<f:ajax />
									<i class="fa fa-plus white" />
								</h:commandLink>

							</f:facet>

							<p:column id="index" width="50">
								<h:outputText value="#{index+1}"></h:outputText>
							</p:column>

							<p:column id="actions" width="50">
								<h:commandLink styleClass="btn btn-sm btn-danger white"
									action="#{itemBean.selectForDelete(attachment)}"
									onclick="PF('deleteAttachmentDialogVar').show()">
									<i class="fa fa-trash white" />
									<f:ajax />
								</h:commandLink>
							</p:column>

							<p:column id="attachmentName" filterMatchMode="contains"
								filterBy="#{attachment.fileName}"
								sortBy="#{attachment.fileName}"
								styleClass="attachmentName-column" width="">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('attachmentVar').filter()"
										styleClass="form-control" placeholder="Name" />
								</f:facet>
								<h:outputText value="#{attachment.fileName}"
									title="#{attachment.fileName}" />
							</p:column>

							<p:column id="attachmentSize" filterMatchMode="contains"
								filterBy="#{attachment.sizeInMegaByte}"
								sortBy="#{attachment.sizeInMegaByte}" style="text-align: center">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('attachmentVar').filter()"
										styleClass="form-control" placeholder="Size" />
								</f:facet>
								<h:outputText value="#{attachment.sizeInMegaByte}"
									title="#{attachment.sizeInMegaByte}" />
							</p:column>

							<p:column id="description" filterMatchMode="contains"
								filterBy="#{attachment.description}"
								sortBy="#{attachment.description}"
								styleClass="attachmentDescription-column">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('attachmentVar').filter()"
										styleClass="form-control" placeholder="Description" />
								</f:facet>
								<h:inputText value="#{attachment.description}"
									styleClass="form-control #{component.valid ? '' : 'border-red'}"
									required="true" requiredMessage="Empty Attachment Description" />
							</p:column>

							<p:column id="notes" filterMatchMode="contains"
								filterBy="#{attachment.notes}" sortBy="#{attachment.notes}"
								styleClass="attachmentNotes-column">
								<f:facet name="filter">
									<p:inputText onkeyup="PF('attachmentVar').filter()"
										styleClass="form-control" placeholder="Notes" />
								</f:facet>
								<h:inputText value="#{attachment.notes}"
									styleClass="form-control" />
							</p:column>

							<p:column width="50">
								<h:commandLink action="#{itemBean.download(attachment)}"
									styleClass="btn btn-sm btn-primary">
									<i class="fa fa-download white" />
								</h:commandLink>

							</p:column>

						</p:dataTable>
					</div>
				</h:panelGroup>

			</div>

			
			<div class="row">
				<div class="col-md-12">

					<div class="buttons">
						<h:commandLink value="Save" action='#{itemBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty itemBean.id}'>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>
			<script type="text/javascript"
				src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
			<script type="text/javascript"
				src="../resources/js/pages/item/item.js" />

			<p:dialog id="deleteAttachmentDialog" draggable="false"
				closable="false" modal="true" height="50" width="310"
				resizable="false" widgetVar="deleteAttachmentDialogVar">

				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{itemBean.deleteAttachment()}"
					onclick="PF('deleteAttachmentDialogVar').hide()"
					styleClass="btn btn-sm btn-primary popup-buttons">
					<f:ajax render="attachmentsDataTable" />
				</h:commandLink>
				<h:commandLink value="Cancel"
					styleClass="btn btn-sm btn-danger popup-buttons"
					onclick="PF('deleteAttachmentDialogVar').hide()">
					<f:ajax />
				</h:commandLink>
			</p:dialog>



			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{itemBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>

		</h:form>
	</ui:define>

</ui:composition>