<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml"
	xmlns:p="http://primefaces.org/ui">

	<f:metadata>
		<f:viewParam name="page" value='#{itemBean.page}' />
		<f:event type="preRenderView" listener='#{itemBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Item entities" />

	<ui:define name="header">
		Item
	</ui:define>

	<ui:define name="subheader">
		Search Item entities
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="itemBeanExampleDeviceId"
									styleClass="control-label" value="Device Id:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanExampleDeviceId"
									styleClass="form-control" value="#{itemBean.example.deviceId}" />
								<h:message for="itemBeanExampleDeviceId" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="itemBeanExampleName"
									styleClass="control-label" value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanExampleName" styleClass="form-control"
									value="#{itemBean.example.name}" />
								<h:message for="itemBeanExampleName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="itemBeanExampleSerialNumber"
									styleClass="control-label" value="Serial Number:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanExampleSerialNumber"
									styleClass="form-control"
									value="#{itemBean.example.serialNumber}" />
								<h:message for="itemBeanExampleSerialNumber" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="itemBeanExampleModel"
									styleClass="control-label" value="Model:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanExampleModel" styleClass="form-control"
									value="#{itemBean.example.model}" />
								<h:message for="itemBeanExampleModel" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel for="itemBeanExampleOrigin"
									styleClass="control-label" value="Origin:" />
							</div>
							<div class="col-md-7">
								<h:inputText id="itemBeanExampleOrigin"
									styleClass="form-control" value="#{itemBean.example.origin}" />
								<h:message for="itemBeanExampleOrigin" styleClass="error" />
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{itemBean.search}'
						styleClass="btn btn-primary" />
							<h:commandLink value="Clear Search"
						action='#{itemBean.clearSearch}' styleClass="btn btn-primary" />
						
					<h:commandLink value="Create New" action='#{itemBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<p:dataTable id="itemBeanPageItems" styleClass="data-table"
				value="#{itemBean.pageItems}" var="_item">

				<p:column filterBy="#{_item.deviceId}" sortBy="#{_item.deviceId}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Device Id" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemDeviceId" value="#{_item.deviceId}" />
					</h:link>
				</p:column>

				<p:column  filterBy="#{_item.name}" sortBy="#{_item.name}"
					filterMatchMode="contains">
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Serial Number" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemSerialNumber" value="#{_item.serialNumber}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Model" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemModel" value="#{_item.model}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Manufacture Date" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemManufactureDate"
							value="#{_item.manufactureDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Purchase Date" />
					</f:facet>
					<h:link outcome="/item/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPurchaseDate" value="#{_item.purchaseDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</p:column>
			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{itemBean}' />
			</ui:include>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
		</h:form>

	</ui:define>

</ui:composition>
