<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:forgeview="http://jboss.org/forge/view"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{itemBean.id}' />
		<f:event type="preRenderView" listener='#{itemBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="View Item" />

	<ui:define name="header">
		Item
	</ui:define>

	<ui:define name="subheader">
		View existing Item
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">

			<h:outputLabel for="itemBeanItemName" value="Name:" />
			<h:outputText id="itemBeanItemName" value="#{itemBean.item.name}" />
			<h:outputText />

			<h:outputLabel for="itemBeanItemSerialNumber" value="Serial Number:" />
			<h:outputText id="itemBeanItemSerialNumber"
				value="#{itemBean.item.serialNumber}" />
			<h:outputText />
			<h:outputLabel for="itemBeanItemModel" value="Model:" />
			<h:outputText id="itemBeanItemModel" value="#{itemBean.item.model}" />
			<h:outputText />
			<h:outputLabel for="itemBeanItemManufacturer" value="Manufacturer:" />
			<h:outputText id="itemBeanItemManufacturer"
				value="#{itemBean.item.manufacturer}" />
			<h:outputText />
			<h:outputLabel for="itemBeanItemManufactureDate"
				value="Manufacture Date:" />
			<h:outputText id="itemBeanItemManufactureDate"
				value="#{itemBean.item.manufactureDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />
			<h:outputLabel for="itemBeanItemPurchaseDate" value="Purchase Date:" />
			<h:outputText id="itemBeanItemPurchaseDate"
				value="#{itemBean.item.purchaseDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />
			<h:outputLabel for="itemBeanItemOrigin" value="Origin:" />
			<h:outputText id="itemBeanItemOrigin" value="#{itemBean.item.origin}" />
			<h:outputText />
			<h:outputLabel for="itemBeanItemFirstHand" value="First Hand:" />
			<h:outputText id="itemBeanItemFirstHand"
				value="#{itemBean.item.firstHand}" />
			<h:outputText />
			<h:outputLabel for="itemBeanItemAccessories" value="Accessories:" />
			<h:dataTable id="itemBeanItemAccessories" styleClass="data-table"
				value="#{forgeview:asList(itemBean.item.accessories)}" var="_item">
				<h:column>
					<f:facet name="header">
						<h:outputText value="Serial Number" />
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemSerialNumber" value="#{_item.serialNumber}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Model" />
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemModel" value="#{_item.model}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Manufacturer" />
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemManufacturer" value="#{_item.manufacturer}" />
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Manufacture Date" />
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemManufactureDate"
							value="#{_item.manufactureDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</h:column>
				<h:column>
					<f:facet name="header">
						<h:outputText value="Purchase Date" />
					</f:facet>
					<h:link outcome="/item/view">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPurchaseDate" value="#{_item.purchaseDate}">
							<f:convertDateTime type="date" />
						</h:outputText>
					</h:link>
				</h:column>
			</h:dataTable>
			<h:outputText />
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search"
				styleClass="btn btn-primary" />
			<h:link value="Edit" outcome="create" includeViewParams="true"
				styleClass="btn btn-primary" />
			<h:link value="Create New" outcome="create"
				styleClass="btn btn-primary" />
		</div>
	</ui:define>

</ui:composition>