<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{maintainenceBean.id}' />
		<f:event type="preRenderView" listener='#{maintainenceBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Maintainence" />

	<ui:define name="header">
		Maintainence
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty maintainenceBean.id}'>
				Edit existing Maintainence
			</c:when>
			<c:otherwise>
				Create a new Maintainence
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:outputStylesheet name="font-awesome/css/font-awesome.css" />

		<h:form id="create">

			<h:outputStylesheet name="css/attachment.css" />
			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanMaintainenceItem" value="Item: *" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="maintainenceBeanMaintainenceItem"
									value="#{maintainenceBean.maintainence.item}" filter="true"
									filterMatchMode="contains" autoWidth="true"
									converter="#{itemConverter}" required="true"
									requiredMessage="Empty Maintenance Item">
									<f:selectItem />
									<f:selectItems value="#{itemBean.all}" var="item"
										itemValue="#{item}" itemLabel="#{item.displayName()}" />
								</p:selectOneMenu>
								<h:message for="maintainenceBeanMaintainenceItem"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanMaintainenceStartDate" value="Start Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="maintainenceBeanMaintainenceStartDate"
									value="#{maintainenceBean.maintainence.startDate}" />
								<h:message for="maintainenceBeanMaintainenceStartDate"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanMaintainenceEndDate" value="End Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="maintainenceBeanMaintainenceEndDate"
									value="#{maintainenceBean.maintainence.endDate}" />
								<h:message for="maintainenceBeanMaintainenceEndDate"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanMaintainenceDueDate" value="Due Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="maintainenceBeanMaintainenceDueDate"
									value="#{maintainenceBean.maintainence.dueDate}" />
								<h:message for="maintainenceBeanMaintainenceDueDate"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanMaintainenceMalfunctioning"
									value="Malfunctioning:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="maintainenceBeanMaintainenceMalfunctioning"
									value="#{maintainenceBean.maintainence.malfunctioning}" />
								<h:message for="maintainenceBeanMaintainenceMalfunctioning"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanMaintainenceFees" value="Fees:" />
							</div>
							<div class="col-md-7">
								<p:inputNumber id="maintainenceBeanMaintainenceFees"
									value="#{maintainenceBean.maintainence.fees}"
									inputStyleClass="form-control" styleClass="money" symbol="$"
									symbolPosition="s" decimalSeparator="." thousandSeparator=","
									minValue="0" />
								<h:message for="maintainenceBeanMaintainenceFees"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintenanceBeanCompany" value="Maintenance Company:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="maintenanceBeanCompany"
									value="#{maintainenceBean.maintainence.maintenanceCompany}"
									filterMatchMode="contains" filter="true"
									converter="#{companyConverter}">
									<f:selectItem />
									<f:selectItems value="#{companyBean.all}" var="company"
										itemLabel="#{company.name}" itemValue="#{company}" />
									<p:ajax update="maintainenceBeanMaintainenceMaintenanceMan"
										listener="#{maintainenceBean.fillEmployeesFromCompany()}" />
								</p:selectOneMenu>
								<h:message for="maintenanceBeanCompany" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanMaintainenceMaintenanceMan"
									value="Maintenance Man:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="maintainenceBeanMaintainenceMaintenanceMan"
									value="#{maintainenceBean.maintainence.maintenanceMan}"
									filterMatchMode="contains" filter="true">
									<f:selectItem />
									<f:selectItems value="#{maintainenceBean.employees}"
										var="employee" itemLabel="#{employee}" itemValue="#{employee}" />
								</p:selectOneMenu>
								<h:message for="maintainenceBeanMaintainenceMaintenanceMan"
									styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-6">

				<p:dataTable id="attachmentsDataTable" widgetVar="attachmentVar"
					rows="5" paginator="true"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,50" paginatorAlwaysVisible="false"
					paginatorPosition="bottom"
					value="#{maintainenceBean.maintainence.attachments}"
					var="attachment" rowKey="#{attachment.id}" rowIndexVar="index"
					editable="true" editMode="cell">

					<f:facet name="header">

						<h:outputText value="Attachments"
							styleClass="attachmentHeaderText" />

						<p:fileUpload widgetVar="fileUploadVar" multiple="true"
							auto="true" styleClass="fileUploader hide"
							fileUploadListener="#{maintainenceBean.handleFileUpload}"
							process="@this" update="attachmentsDataTable" />

						<h:commandLink onclick="$('.fileUploader input').click()"
							styleClass="btn btn-primary white attachmentHeaderButton">
							<f:ajax />
							<i class="fa fa-plus white" />
						</h:commandLink>

					</f:facet>

					<p:column id="index" width="50">
						<h:outputText value="#{index+1}"></h:outputText>
					</p:column>

					<p:column id="actions" width="50">
						<h:commandLink styleClass="btn btn-sm btn-danger white"
							action="#{maintainenceBean.selectForDelete(attachment)}"
							onclick="PF('deleteDialogVar').show()">
							<i class="fa fa-trash white" />
							<f:ajax />
						</h:commandLink>
					</p:column>

					<p:column id="attachmentName" headerText="Name"
						filterMatchMode="contains" filterBy="#{attachment.fileName}"
						sortBy="#{attachment.fileName}" styleClass="attachmentName-column"
						width="">
						<h:outputText value="#{attachment.fileName}"
							title="#{attachment.fileName}" />
					</p:column>

					<p:column id="attachmentSize" headerText="Size"
						sortBy="#{attachment.size}" style="text-align: center">
						<h:outputText title="#{attachment.sizeInMegaByte}"
							value="#{attachment.sizeInMegaByte}" />
					</p:column>

					<p:column id="description" headerText="Description"
						filterMatchMode="contains" filterBy="#{attachment.description}"
						sortBy="#{attachment.description}"
						styleClass="attachmentDescription-column">
						<h:inputText value="#{attachment.description}"
							styleClass="form-control" />
					</p:column>

					<p:column id="notes" headerText="Notes" filterMatchMode="contains"
						filterBy="#{attachment.notes}" sortBy="#{attachment.notes}"
						styleClass="attachmentNotes-column" width="">
						<h:inputText value="#{attachment.notes}" styleClass="form-control" />
					</p:column>

					<p:column width="50">
						<h:commandLink action="#{maintainenceBean.download(attachment)}"
							styleClass="btn btn-sm btn-primary">
							<i class="fa fa-download white" />
						</h:commandLink>
					</p:column>

				</p:dataTable>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{maintainenceBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty maintainenceBean.id}'>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning">
								</h:link>
								<h:commandLink value="Delete"
									action='#{maintainenceBean.delete}' styleClass="btn btn-danger" />
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
						<p:commandLink value="Print" action="#{maintainenceBean.print()}"
							styleClass="btn btn-info" ajax="false">
						</p:commandLink>
					</div>
				</div>
			</div>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />

			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="310" resizable="false"
				widgetVar="deleteDialogVar">


				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok"
					action="#{maintainenceBean.deleteAttachment()}"
					onclick="PF('deleteDialogVar').hide()"
					styleClass="btn btn-primary popup-buttons">
					<f:ajax render="attachmentsDataTable" />
				</h:commandLink>
				<h:commandLink value="Cancel"
					styleClass="btn btn-danger popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<f:ajax />
				</h:commandLink>
			</p:dialog>
		</h:form>
	</ui:define>

</ui:composition>