<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">


	<f:metadata>
		<f:viewParam name="page" value='#{maintainenceBean.page}' />
		<f:event type="preRenderView" listener='#{maintainenceBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Maintainence entities" />

	<ui:define name="header">
		Maintainence
	</ui:define>

	<ui:define name="subheader">
		Search Maintainence entities
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:outputStylesheet name="css/selectOneMenu.css" />

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanExampleItem" value="Item:" />
							</div>
							<div class="col-md-7">
								<p:selectOneMenu id="maintainenceBeanExampleItem"
									value="#{maintainenceBean.example.item}"
									converter="#{itemConverter}" filterMatchMode="contains"
									filter="true">
									<f:selectItem />
									<f:selectItems value="#{itemBean.all}" var="item"
										itemValue="#{item}" itemLabel="#{item.displayName()}" />
								</p:selectOneMenu>
								<h:message for="maintainenceBeanExampleItem" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanExampleStartDate" value="Start Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="maintainenceBeanExampleStartDate"
									value="#{maintainenceBean.example.startDate}" />
								<h:message for="maintainenceBeanExampleStartDate"
									styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanExampleEndDate" value="End Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="maintainenceBeanExampleEndDate"
									value="#{maintainenceBean.example.endDate}" />
								<h:message for="maintainenceBeanExampleEndDate"
									styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanExampleDueDate" value="Due Date:" />
							</div>
							<div class="col-md-7">
								<p:calendar id="maintainenceBeanExampleDueDate"
									value="#{maintainenceBean.example.dueDate}" />
								<h:message for="maintainenceBeanExampleDueDate"
									styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanExampleMalfunctioning"
									value="Malfunctioning:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="maintainenceBeanExampleMalfunctioning"
									value="#{maintainenceBean.example.malfunctioning}" />
								<h:message for="maintainenceBeanExampleMalfunctioning"
									styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanExampleFees" value="Fees:" />
							</div>
							<div class="col-md-7">
								<p:inputNumber id="maintainenceBeanExampleFees"
									value="#{maintainenceBean.example.fees}" styleClass="money"
									symbol="$" symbolPosition="s" decimalSeparator="."
									thousandSeparator="," minValue="0"
									inputStyleClass="form-control" />
								<h:message for="maintainenceBeanExampleFees" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="maintainenceBeanExampleMaintenanceMan"
									value="Maintenance Man:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="maintainenceBeanExampleMaintenanceMan"
									value="#{maintainenceBean.example.maintenanceMan}" />
								<h:message for="maintainenceBeanExampleMaintenanceMan"
									styleClass="error" />
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{maintainenceBean.search}'
						styleClass="btn btn-primary" />
							<h:commandLink value="Clear Search"
						action='#{maintainenceBean.clearSearch}' styleClass="btn btn-primary" />
					<h:commandLink value="Create New"
						action='#{maintainenceBean.create}' styleClass="btn btn-primary" />
						
						
				</h:panelGroup>
			</h:panelGroup>

			<p:dataTable id="maintainenceBeanPageItems" styleClass="data-table"
				value="#{maintainenceBean.pageItems}" var="_item">

				<p:column>
					<f:facet name="header">
						<h:outputText value="Item" />
					</f:facet>
					<h:link outcome="/maintainence/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemItem" value="#{_item.item.displayName()}" />
					</h:link>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Start Date" />
					</f:facet>
					<h:link outcome="/maintainence/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemStartDate" value="#{_item.startDate}" />
					</h:link>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="End Date" />
					</f:facet>
					<h:link outcome="/maintainence/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemEndDate" value="#{_item.endDate}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Due Date" />
					</f:facet>
					<h:link outcome="/maintainence/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemDueDate" value="#{_item.dueDate}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Malfunctioning" />
					</f:facet>
					<h:link outcome="/maintainence/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemMalfunctioning"
							value="#{_item.malfunctioning}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Fees" />
					</f:facet>
					<h:link outcome="/maintainence/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemFees" value="#{_item.fees}" />
					</h:link>
				</p:column>

				<p:column>
					<f:facet name="header">
						<h:outputText value="Maintenance Man" />
					</f:facet>
					<h:link outcome="/maintainence/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemMaintenanceMan"
							value="#{_item.maintenanceMan}" />
					</h:link>
				</p:column>
			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{maintainenceBean}' />
			</ui:include>

			<script type="text/javascript" src="../resources/js/selectOneMenu.js" />
			<script type="text/javascript" src="../resources/js/calendar.js" />
		</h:form>

	</ui:define>

</ui:composition>
