<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">


	<f:metadata>
		<f:viewParam name="id" value='#{maintainenceBean.id}' />
		<f:event type="preRenderView" listener='#{maintainenceBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="View Maintainence" />

	<ui:define name="header">
		Maintainence
	</ui:define>

	<ui:define name="subheader">
		View existing Maintainence
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">

			<h:outputLabel for="maintainenceBeanMaintainenceItem" value="Item:" />
			<h:outputText id="maintainenceBeanMaintainenceItem"
				value="#{maintainenceBean.maintainence.item.displayName()}" />
			<h:outputText />

			<h:outputLabel for="maintainenceBeanMaintainenceStartDate"
				value="Start Date:" />
			<h:outputText id="maintainenceBeanMaintainenceStartDate"
				value="#{maintainenceBean.maintainence.startDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="maintainenceBeanMaintainenceEndDate"
				value="End Date:" />
			<h:outputText id="maintainenceBeanMaintainenceEndDate"
				value="#{maintainenceBean.maintainence.endDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="maintainenceBeanMaintainenceDueDate"
				value="Due Date:" />
			<h:outputText id="maintainenceBeanMaintainenceDueDate"
				value="#{maintainenceBean.maintainence.dueDate}">
				<f:convertDateTime type="date" />
			</h:outputText>
			<h:outputText />

			<h:outputLabel for="maintainenceBeanMaintainenceMalfunctioning"
				value="Malfunctioning:" />
			<h:outputText id="maintainenceBeanMaintainenceMalfunctioning"
				value="#{maintainenceBean.maintainence.malfunctioning}" />
			<h:outputText />

			<h:outputLabel for="maintainenceBeanMaintainenceFees" value="Fees:" />
			<h:outputText id="maintainenceBeanMaintainenceFees"
				value="#{maintainenceBean.maintainence.fees}" />
			<h:outputText />

			<h:outputLabel for="maintainenceBeanMaintainenceMaintenanceMan"
				value="Maintenance Man:" />
			<h:outputText id="maintainenceBeanMaintainenceMaintenanceMan"
				value="#{maintainenceBean.maintainence.maintenanceMan}" />
			<h:outputText />

		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search"
				styleClass="btn btn-primary" />
			<h:link value="Edit" outcome="create" includeViewParams="true"
				styleClass="btn btn-primary" />
			<h:link value="Create New" outcome="create"
				styleClass="btn btn-primary" />
		</div>
	</ui:define>

</ui:composition>