<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{companyBean.id}' />
		<f:event type="preRenderView" listener='#{companyBean.retrieve}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Create Manufacturer" />

	<ui:define name="header">
		Comapny
	</ui:define>

	<ui:define name="subheader">
		<c:choose>
			<c:when test='#{!empty companyBean.id}'>
				Edit existing Company
			</c:when>
			<c:otherwise>
				Create a new Company
			</c:otherwise>
		</c:choose>
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="create">
		<p:growl id="msg" showDetail="false" />

			<link rel="stylesheet" type="text/css"
				href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
			<link rel="stylesheet" type="text/css"
				href="../resources/plugins/selectize/css/selectize.css"></link>

			<h:messages globalOnly="true" styleClass="error" />

			<div class="col-md-6">
				<div class="row">

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanManufacturerName" value="Name: *" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanManufacturerName"
									value="#{companyBean.manufacturer.name}" required="true"
									requiredMessage="Empty Manufacturer Name" />
								<h:message for="companyBeanManufacturerName" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanManufacturerPhoneNumber" value="Phone Number:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanManufacturerPhoneNumber"
									value="#{companyBean.manufacturer.phoneNumber}" />
								<h:message for="companyBeanManufacturerPhoneNumber"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanManufacturerAddress" value="Address:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanManufacturerAddress"
									value="#{companyBean.manufacturer.address}" />
								<h:message for="companyBeanManufacturerAddress"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanManufacturerEmail" value="Email:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanManufacturerEmail"
									value="#{companyBean.manufacturer.email}" />
								<h:message for="companyBeanManufacturerEmail" styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanManufacturerContact" value="Contact:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanManufacturerContact"
									value="#{companyBean.manufacturer.contact}" />
								<h:message for="companyBeanManufacturerContact"
									styleClass="error" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanManufacturerEmployees" value="Employees:" />
							</div>
							<div class="col-md-7">
								<h:inputText
									styleClass="form-control companyBeanManufacturerEmployees"
									id="companyBeanManufacturerEmployees"
									value="#{companyBean.manufacturer.employees}" />
								<h:message for="companyBeanManufacturerEmployees"
									styleClass="error" />
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="buttons">
						<h:commandLink value="Save" action='#{companyBean.update}'
							styleClass="btn btn-primary" />
						<c:choose>
							<c:when test='#{!empty companyBean.id}'>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
								<h:commandLink value="Delete" styleClass="btn btn-danger"
									onclick="PF('deleteDialogVar').show()">
									<f:ajax />
								</h:commandLink>
							</c:when>
							<c:otherwise>
								<h:link value="Cancel" outcome="search"
									styleClass="btn btn-warning" />
							</c:otherwise>
						</c:choose>
					</div>
				</div>
			</div>
			
			<p:dialog id="deleteDialog" draggable="false" closable="false"
				modal="true" height="50" width="330" resizable="false"
				widgetVar="deleteDialogVar">
				<f:facet name="header">
					<h:outputText value="Confirm Deletion????" />
				</f:facet>

				<h:commandLink value="Ok" action="#{companyBean.delete}"
					styleClass="btn btn-danger popup-buttons">
				</h:commandLink>
				<h:commandLink styleClass="btn btn-warning popup-buttons"
					onclick="PF('deleteDialogVar').hide()">
					<h:outputText value="Cancel" />
					<f:ajax />
				</h:commandLink>
			</p:dialog>
			
			<script type="text/javascript"
				src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>
			<h:outputScript name="js/pages/company/create.js" />
		</h:form>
	</ui:define>

</ui:composition>