<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="page" value='#{companyBean.page}' />
		<f:event type="preRenderView" listener='#{companyBean.paginate}' />
	</f:metadata>

	<ui:param name="pageTitle" value="Search Manufacturer entities" />

	<ui:define name="header">
		Company
	</ui:define>

	<ui:define name="subheader">
		Search Companies
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<h:form id="search">

			<h:panelGroup styleClass="search">

				<div class="row">
					<div class="col-md-6">

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanExampleName" value="Name:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanExampleName" value="#{companyBean.example.name}" />
								<h:message for="companyBeanExampleName" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanExamplePhoneNumber" value="Phone Number:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanExamplePhoneNumber"
									value="#{companyBean.example.phoneNumber}" />
								<h:message for="companyBeanExamplePhoneNumber"
									styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanExampleAddress" value="Address:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanExampleAddress"
									value="#{companyBean.example.address}" />
								<h:message for="companyBeanExampleAddress" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanExampleEmail" value="Email:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanExampleEmail"
									value="#{companyBean.example.email}" />
								<h:message for="companyBeanExampleEmail" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanExampleContact" value="Contact:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanExampleContact"
									value="#{companyBean.example.contact}" />
								<h:message for="companyBeanExampleContact" styleClass="error" />
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-5">
								<h:outputLabel styleClass="control-label"
									for="companyBeanExampleEmployees" value="Employees:" />
							</div>
							<div class="col-md-7">
								<h:inputText styleClass="form-control"
									id="companyBeanExampleEmployees"
									value="#{companyBean.example.employees}" />
								<h:message for="companyBeanExampleEmployees" styleClass="error" />
							</div>
						</div>

					</div>
				</div>

				<h:panelGroup styleClass="buttons">
					<h:commandLink value="Search" action='#{companyBean.search}'
						styleClass="btn btn-primary" />
					<h:commandLink value="Clear Search"
						action='#{companyBean.clearSearch}' styleClass="btn btn-primary" />

					<h:commandLink value="Create New" action='#{companyBean.create}'
						styleClass="btn btn-primary" />
				</h:panelGroup>
			</h:panelGroup>

			<p:dataTable id="companyBeanPageItems" styleClass="data-table"
				value="#{companyBean.pageItems}" var="_item">
				<p:column>
					<f:facet name="header">
						<h:outputText value="Name" />
					</f:facet>
					<h:link outcome="/company/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemName" value="#{_item.name}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Phone Number" />
					</f:facet>
					<h:link outcome="/company/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemPhoneNumber" value="#{_item.phoneNumber}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Address" />
					</f:facet>
					<h:link outcome="/company/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemAddress" value="#{_item.address}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Email" />
					</f:facet>
					<h:link outcome="/company/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemEmail" value="#{_item.email}" />
					</h:link>
				</p:column>
				<p:column>
					<f:facet name="header">
						<h:outputText value="Contact" />
					</f:facet>
					<h:link outcome="/company/create">
						<f:param name="id" value="#{_item.id}" />
						<h:outputText id="_itemContact" value="#{_item.contact}" />
					</h:link>
				</p:column>
			</p:dataTable>
			<ui:include src="/resources/scaffold/paginator.xhtml">
				<ui:param name="paginatorBean" value='#{companyBean}' />
			</ui:include>
		</h:form>

	</ui:define>

</ui:composition>
