<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/resources/scaffold/pageTemplate.xhtml">

	<f:metadata>
		<f:viewParam name="id" value='#{manufacturerBean.id}'/>
		<f:event type="preRenderView" listener='#{manufacturerBean.retrieve}'/>
	</f:metadata>

	<ui:param name="pageTitle" value="View Manufacturer"/>

	<ui:define name="header">
		Manufacturer
	</ui:define>

	<ui:define name="subheader">
		View existing Manufacturer
	</ui:define>

	<ui:define name="footer"/>

	<ui:define name="main">
		<h:panelGrid columnClasses="label,component,required" columns="3">
			<h:outputLabel for="manufacturerBeanManufacturerName" value="Name:"/>
			<h:outputText id="manufacturerBeanManufacturerName" value="#{manufacturerBean.manufacturer.name}"/>
			<h:outputText/>
			<h:outputLabel for="manufacturerBeanManufacturerPhoneNumber" value="Phone Number:"/>
			<h:outputText id="manufacturerBeanManufacturerPhoneNumber" value="#{manufacturerBean.manufacturer.phoneNumber}"/>
			<h:outputText/>
			<h:outputLabel for="manufacturerBeanManufacturerAddress" value="Address:"/>
			<h:outputText id="manufacturerBeanManufacturerAddress" value="#{manufacturerBean.manufacturer.address}"/>
			<h:outputText/>
			<h:outputLabel for="manufacturerBeanManufacturerEmail" value="Email:"/>
			<h:outputText id="manufacturerBeanManufacturerEmail" value="#{manufacturerBean.manufacturer.email}"/>
			<h:outputText/>
			<h:outputLabel for="manufacturerBeanManufacturerContact" value="Contact:"/>
			<h:outputText id="manufacturerBeanManufacturerContact" value="#{manufacturerBean.manufacturer.contact}"/>
			<h:outputText/>
		</h:panelGrid>

		<div class="buttons">
			<h:link value="View All" outcome="search" styleClass="btn btn-primary"/> 
			<h:link value="Edit" outcome="create" includeViewParams="true" styleClass="btn btn-primary"/>
			<h:link value="Create New" outcome="create" styleClass="btn btn-primary"/>
		</div>
	</ui:define>

</ui:composition>