<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:forgeview="http://jboss.org/forge/view"
	xmlns:p="http://primefaces.org/ui"
	template="/resources/scaffold/pageTemplate.xhtml">

	<ui:param name="pageTitle" value="Settings" />

	<ui:define name="header">
		Settings
	</ui:define>

	<ui:define name="subheader">
		Add Your Own Settings
	</ui:define>

	<ui:define name="footer" />

	<ui:define name="main">
		<p:growl id="msg" showDetail="false" />

		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.bootstrap3.css"></link>
		<link rel="stylesheet" type="text/css"
			href="../resources/plugins/selectize/css/selectize.css"></link>

		<h:outputStylesheet name="css/pages/settings/settings.css" />

		<h:form id="settings" prependId="false">
			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<h:outputLabel styleClass="control-label" for="Specility"
							value="Specility:" />
					</div>
					<div class="col-md-10">
						<h:inputText id="Specility" styleClass="Specility form-control"
							value="#{settingsController.specilities.value}" />
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<h:outputLabel styleClass="control-label" for="Usage"
							value="Usage:" />
					</div>
					<div class="col-md-10">
						<h:inputText id="Usage" styleClass="Usage form-control"
							value="#{settingsController.usages.value}" />
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<h:outputLabel styleClass="control-label" for="Domain"
							value="Domain:" />
					</div>
					<div class="col-md-10">
						<h:inputText id="Domain" styleClass="Domain form-control"
							value="#{settingsController.domains.value}" />
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="form-group">
					<div class="col-md-2">
						<h:outputLabel styleClass="control-label" for="Type"
							value="Types:" />
					</div>
					<div class="col-md-10">
						<h:inputText id="Type" styleClass="Type form-control"
							value="#{settingsController.types.value}" />
					</div>
				</div>
			</div>

			<div class="buttons">
				<h:commandLink value="Save" action='#{settingsController.save()}'
					styleClass="btn btn-primary">
					<f:ajax execute="@form" render="msg" />
				</h:commandLink>
			</div>

		</h:form>

		<script type="text/javascript"
			src="../resources/plugins/selectize/js/standalone/selectize.min.js"></script>
		<h:outputScript name="js/pages/settings/initSelectize.js" />

	</ui:define>

</ui:composition>
