.panel-heading-class-card {
	height: 50px;
	background-color: #fdfdfd;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-0{
	margin-top: 0;
}

.padding-0 {
	padding: 0;
}
.padding-left-0{
	padding-left: 0;
}

.white-deg-clr {
	background-color: #fdfdfd;
}

.no-border {
	border: none;
}

.width-65-per {
	width: 65%;
}
.width-60-per {
	width: 60%;
}


.typeClass .select2-container {
	width: 100% !important;
	margin-left: 24px;
}

.addedit-modal-header {
	min-height: 40px;
	height: 42px;
	padding: 5px 15px 0px;
	border-bottom: 2px solid rgb(231, 234, 236);
}
.addedit-modal-body{
	border-bottom: 1px solid lightgray; 
	padding-bottom: 0;
}

.fieldClassificationSelect .select2-choice{
height:30px !important;
}

.fieldClassificationSelect .select2-container{
	display:inline;
}

.fieldTable .ui-column-title {
    font-size: 15px;
    font-weight: bold;
    margin: 7px;
}

.fieldTable.ui-datatable table{
table-layout:auto !important;
overflow-x:auto !important;
}
.config-select{
	padding-left:0 !important;
}
.config-select .select2-container{
width: 200px;

}

.ui-spinner-button{
	border-radius:0px !important;
}

.config-spinner .ui-spinner-input{
	width:200px;
}
.layout-radio td {
	padding-right: 12px;
}