
.rf-wrapper .ui-button-icon-only .ui-icon.ui-icon-plusthick, .rf-wrapper .ui-button-text-icon-left .ui-icon.ui-icon-plusthick,
	.rf-wrapper .ui-button-text-icon-right .ui-icon.ui-icon-plusthick {
	position: sticky !important;
	top: 19% !important;
}

/* ===================================== */
.ui-datatable table thead tr th, .ui-datatable table tfoot tr td,
	.ui-datatable table thead tr th {
	font-size: 12px !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	padding: 0 10px !important;
}

.hover-active>.ui-state-hover {
	background: #1ba1e2 !important;
}

/*****************************/
.errorRecord {
	background: rgb(255, 183, 183) !important;
}
/*****************************/
.form-group {
	margin-bottom: 2px !important;
}

.panel-body {
	padding: 0 15px 10px !important;
}

.panel-heading {
	padding: 3px 15px !important;
	margin-bottom: 3px !important;
}

.panel-primary>.panel-body {
	border-color: #1c84c6 !important;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	float: none !important; /* removed for aligning labels on top  */
}

.mtree-container .mtree-choice {
	height: 32px !important;
}

.label-sm {
	font-size: 12px !important;
}

.label-sm-color {
	color: #1c84c6;
	font-weight: bold;
	margin-left: 5px;
}

.mg-t-5>.icheckbox_square-green {
	margin-top: 5px !important;
}

.form-group label {
	font-size: 1em !important;
}

.table .form-control.datepicker.smaller {
	width: 74% !important;
}

.text-ellipsis.smaller {
	width: 74% !important;
}

.select-filter {
	width: 150px;
	font-size: 1.2em !important;
	color: #676a6c !important;
	text-align: center;
}

.ui-buttonset .ui-button {
	height: 25px !important;
}

/*============================ */
.ibox-title.sm-box {
	min-height: 30px;
	padding: 8px 15px 7px;
}

.ibox-content {
	padding: 8px 20px !important;
}

.ibox-tools.add-new {
	float: none !important;
}

.label.count-label-rt {
	float: right !important;
}

/* ================================= */
.bigger-200 {
	font-size: 200%
}

.grey {
	color: #777 !important
}

.green {
	color: #69aa46 !important
}

.btn-blue {
	background: #1ba1e2;
	color: white;
}

.import-header-popover a {
	background-color: #66cdaa !important;
	border-color: #66cdaa !important;
	color: #fff;
}

/* ================================= */
.ui-button .ui-button-text {
	margin-left: -6px !important;
	margin-right: -6px !important;
	font-size: 11px !important;
}

/* ============================================= */

/* ===== done as ibox-tools to be used in panels ===== */
.panel-tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0;
}

.panel-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4;
}

.panel-tools a.btn-primary {
	color: #fff;
}

.panel-tools .dropdown-menu>li>a {
	padding: 4px 10px;
	font-size: 12px;
}

.panel .open>.dropdown-menu {
	left: auto;
	right: 20%;
}

.info-link {
	font-size: 20px;
	margin-top: 5px;
}
/* ======================================== */
.ibox-title-linen {
	background-color: linen;
	border-color: lightyellow;
	border-image: none;
	border-style: solid;
	border-width: 2px;
	color: #1ba1e2;
	margin-bottom: 0;
	padding: 7px 13px 1px;
	min-height: 37px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	/* font-size: 17px; */
}

/****************************************/
/* .ibox-title-indianred {
	background-color: indianred;
	border-color: indianred;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px 0;
	color: #fff;
	margin-bottom: 0;
	padding: 0 15px 1px;
	min-height: 18px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 17px;
}

.ibox-content-indianred {
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: indianred;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
} */

/* .ibox-title-firebrick {
	background-color: firebrick;
	border-color: firebrick;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px 0;
	color: #fff;
	margin-bottom: 0;
	padding: 0 15px 1px;
	min-height: 18px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 17px;
}

.ibox-content-firebrick {
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: firebrick;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
} */
.ibox-content-mediumpurple {
	background-color: #ffffff;
	color: inherit;
	padding: 2px 20px 5px;
	border-color: mediumpurple;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

/* .ibox-title-rebeccapurple {
	background-color: rebeccapurple;
	border-color: rebeccapurple;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px 0;
	color: #fff;
	margin-bottom: 0;
	padding: 0 15px 1px;
	min-height: 18px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 17px;
}

.ibox-content-rebeccapurple {
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: rebeccapurple;
	border-image: none;
	border-style: solid;
	border-width: 1px;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
} */

/*******************************/
.panel-firebrick {
	border-color: firebrick
}

.panel-firebrick>.panel-heading {
	color: #fff;
	background-color: firebrick;
	border-color: firebrick
}

.panel-firebrick>.panel-heading+.panel-collapse>.panel-body {
	border-top-color: firebrick
}

.panel-firebrick>.panel-heading .badge {
	color: firebrick;
	background-color: #fff
}

.panel-firebrick>.panel-footer+.panel-collapse>.panel-body {
	border-bottom-color: firebrick
}
/*******************************/