.datepicker.datepicker-dropdown{
	display: block;
    right: 389.483px;
    top: 25.3167px;
}

.datepicker-dropdown.datepicker-orient-left::before {
    left: inherit;
    right: 6px;
}

.datepicker-dropdown {
	left: inherit !important;
}

.datepicker td.active {
	background-color: #3276b1 !important;
}

.datepicker-dropdown {
	left: inherit !important;
}
.datepicker-days{
	font-size: 0.8em;
}

.datepicker {
	direction: ltr !important;
	right:63% !important;
	font-family:droidkufi !important;
}
.datepicker.dropdown-menu{
	min-width:230px !important;
}

.datepicker-dropdown.datepicker-orient-left::before {
	left: 6px !important;
	right: auto !important;
}
.datepicker {
	padding: 0.5rem 0.75rem !important;
}
