.container {
	font-size: 40px;
	text-align: center;
	font-weight: 700;
	font-family: Trebuchet MS;
	/* max-width: 1150px; */
	color: rgba(93, 110, 126, 0.3);
	text-shadow: 2px 3px 6px #ffffff, 0 0 0 #000000;
	
	margin-bottom: -1%;
	
}

.container span {
	display: inline-block;
	position: relative;
}


.container span.active {
	color: #adadad;
	text-shadow: 4px 8px 10px #ffffff, 0 0 0 #000000;
}
