.dl-horizontal dt, .dl-horizontal dd {
	padding-top: 7%;
}

.i-checks label {
	padding-left: 8px !important;
	padding-right: 13px !important;
}

.layout-radio td {
	padding-right: 30px;
}

.margin-top-1 {
	margin-top: 1%;
}

.margin-top-2 {
	margin-top: 2%;
}

.btn-circle.btn-lg {
	height: 40px;
	padding: 8px 9px;
	width: 40px;
}

.font-17 {
	font-size: 17px !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-shadow.ui-hidden-container
	{
	width: 650px !important;
}

.dl-horizontal dd {
	margin-left: 0;
}

.dl-horizontal dt {
	width: 115px !important;
}

.imageWidth {
	width: 100% !important;
}

#myModal .modal-dialog {
	margin-top: 2%;
}

/*************Tile***********/
small {
	height: 130px !important;
	width: 130px !important;
}

.tile-small, .tile, .tile-square, .tile-wide, .tile-large, .tile-big,
	.tile-super {
	overflow: visible;
}

.tile {
	-moz-user-select: none;
	background-color: #eeeeee;
	box-shadow: 0 0 1px #ffffcc inset;
	cursor: pointer;
	display: block;
	float: left;
	height: 150px;
	margin: 5px;
	overflow: hidden;
	position: relative;
	width: 150px;
}

.tile .tile-content {
	display: block;
}

.tile-area-scheme-darkTeal [class*="tile"] {
	outline-color: #006983;
}

.tile-content {
	display: none;
	height: inherit;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.tile-content.iconic .icon {
	font-size: 64px;
	height: 64px;
	left: 50%;
	margin-left: -32px;
	margin-top: -53px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 64px;
}

.tile-area-scheme-darkTeal [class*="tile"] {
	outline-color: #006983;
}

div.tileLabelWrapper {
	bottom: 0;
	position: absolute;
	right: 0;
	text-align: center;
	width: 100%;
	z-index: 11;
}

div.tileLabelDesc {
	background-color: #5c75db;
	bottom: 0;
	height: 25px;
	margin-bottom: 0;
	margin-top: 0;
	overflow: hidden;
	padding-bottom: 3px;
	padding-top: 3px;
	top: 0;
	width: 100%;
}

div.tileLabelDesc {
	background-color: rgba(0, 0, 0, 0.16) !important;
	border-top: 1px solid white;
	color: white;
	font-size: 12px;
	padding: 3px;
}

.tile {
	color: #fff;
	display: block;
	font-weight: normal;
	margin: 2px;
	opacity: 0.85;
	overflow: hidden;
	padding: 1px;
	position: relative;
	text-decoration: none;
	transition: box-shadow 0.15s ease-out 0s;
}
/*****************************/
.ui-colorpicker .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only
	{
	padding: 0px !important;
}

.ui-button-text-only .ui-button-text {
	padding: 0 !important;
}

.ui-button-text-only .ui-button-text.ui-c>span {
	border-color: gray !important;
	display: block !important;
	font-size: 0 !important;
	height: 28px !important;
	padding: 4px !important;
	width: 28px !important;
}

.minicolors-swatch {
	border: 0 none !important;
}

.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
	{
	z-index: 10000 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight, .ui-state-highlight a,
	.ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a
	{
	color: black !important;
}

.arabic {
	font-family: 'droidkufi';
}

.table .form-control.notes, .table .form-control.datepicker {
	width: 80%;
}

html[dir="rtl"] .mtree-container .mtree-choice .mtree-arrow,
	.mtree-container[dir="rtl"] .mtree-choice .mtree-arrow {
	border-radius: 4px 0 0 4px;
	border-right: medium none !important;
	border-left: 1px solid #aaaaaa !important;
	right: 0 !important;
}

.modal-dialog .mtree-container .mtree-choice {
	height: 34px !important;
}

.title-dialog {
	font-size: 19px;
	color: #1ab394;
}

html[dir="rtl"] .mtree-container .mtree-choice>.mtree-chosen,
	.mtree-container[dir="rtl"] .mtree-choice>.mtree-chosen {
	margin-right: 26px !important;
	margin-left: 0 !important;
}

html[dir="rtl"] .mtree-container .mtree-choice abbr, .mtree-container[dir="rtl"] .mtree-choice abbr
	{
	left: 8px !important;
}

.color-green {
	color: #18a689;
}

.btn-lg {
	padding: 8px 9px !important;
}

.add-member-btn {
	border-radius: 18px;
	height: 34px;
	line-height: 1.5;
	width: 35px;
}

.team-table .ui-column-title {
	font-size: 15px;
	font-weight: bold;
}

.team-table td {
	padding: 0 !important;
}

.margin-3 {
	margin-left: -3% !important;
	width: 61.333% !important;
}

.btn-icon-svg {
	padding: 4px 7px !important;
}

.mtree-overlay .aciTreeText {
	font-size: 13px !important;
}

.mtree-overlay .aciTreeUl {
	font-size: 20px !important;
}

.select2-container .select2-choice {
	height: 34px !important;
	line-height: 32px !important;
}
.select2-results
{
	font-family: 'droidkufi';
}