li.ui-treenode {
	margin-top: 4px !important;
	padding: 1px !important;
	margin-bottom: 9px !important;
}
/* li.ui-treenode.ui-treenode-parent{
	margin-top: 15px !important;
} */
li.ui-treenode.ui-treenode-parent>span.ui-treenode-content, li.ui-treenode.ui-treenode-leaf>span.ui-treenode-content
	{
	padding: 3px 3px 0px !important;
	background: #f3f3f4 none repeat scroll 0 0;
	border: 1px dashed #e7eaec;
	color: #222222 !important;
	margin-top: 6px !important;
}

ul.ui-treenode-children {
	padding-left: 30px !important;
	padding-top: 8px !important;
}

.remove {
	height: 23px !important;
	/* padding: 0 !important; */
	width: 21px !important;
	margin-top: 0px !important;
}

.btn-delete {
	background-color: #f3f3f4 !important;
	border-color: #f3f3f4 !important;
	color: #d43f3a !important;
	/* 	margin-top: -22px !important; */
	padding: 0 4px !important;
}

.btn-add {
	background-color: #f3f3f4 !important;
	border-color: #f3f3f4 !important;
	color: #1AB394 !important;
	/* margin-top: -22px !important; */
	padding: 0 4px !important;
}

.selectedNode .ui-state-highlight .btn-add, .selectedNode .ui-state-highlight .btn-delete
	{
	border-color: #ECECED !important;
	background-color: #ECECED !important;
}

.selectedNode .ui-state-highlight .btn-add:focus, .selectedNode .ui-state-highlight .btn-add:hover,
	.selectedNode .ui-state-highlight .btn-add:active, .selectedNode .ui-state-highlight .btn-delete:focus,
	.selectedNode .ui-state-highlight .btn-delete:active, .selectedNode .ui-state-highlight .btn-delete:hover
	{
	background-color: #ECECED !important;
}

.ui-treenode-label.ui-corner-all {
	width: 91% !important;
}

.ui-treenode-label.ui-corner-all.ui-state-hover {
	font-weight: bold !important;
	background-color: #F3F3F4 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background-color: #ddeef2 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background: white none repeat scroll 0 0;
	border: 1px solid white;
	color: black !important;
}

.treeLabel {
	margin-right: 10px;
}

.btn.btn-danger i {
	color: #ed5565 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight,
	.ui-widget-header .ui-state-highlight {
	background-color: #F3F3F4 !important;
}

.layout-radio td {
	padding-right: 12px;
}

.ui-tree-container {
	font-family: 'droidkufi';
	font-size: 1em !important
}

.arabic {
	font-family: 'droidkufi';
}

.ui-tree .ui-tree-toggler {
	cursor: pointer;
	display: inline-block;
}

li.ui-treenode span.ui-treenode-label.ui-corner-all.ui-state-highlight {
	color: black !important;
	font-weight: bold;
}

.ui-tree.ui-widget.ui-widget-content.ui-corner-all {
	min-height: 90px;
}

span.ui-treenode-label.ui-corner-all.ui-state-highlight {
	color: #818181 !important;
}

.ui-panel.ui-widget.ui-widget-content.ui-corner-all.ui-draggable {
	border: none !important;
}

.ui-datagrid.ui-widget {
	border: none !important;
}

.ui-datagrid-content.ui-widget-content {
	border: none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	border-bottom: 1px solid #b4b4b4 !important;
	border-top: 1px solid #dddddd !important;
}

.ui-widget-header {
	font-weight: normal !important;
}

.ui-widget-content.ui-datatable-even.ui-datatable-selectable {
	background-color: white !important;
}

.arabic-name {
	font-family: 'droidkufi' !important;
}

.ui-state-highlight .ui-icon {
	background-image:
		url("/rafed/javax.faces.resource/images/ui-icons_454545_256x240.png.xhtml?ln=primefaces-delta")
		!important;
}

.title {
	color: #1A7BB9 !important;
	font-size: 16px !important;
}

.my-panel-title {
	color: #676a6c !important;
	font-size: 15px !important;
}

.ui-panel-titlebar.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	cursor: crosshair !important;
}

.propertiesFieldSet .ui-fieldset-legend {
	background: transparent none repeat scroll 0 0 !important;
	border: medium none !important;
	font-size: 17px !important;
	font-weight: bold;
	text-align: center;
	width: 35% !important;
	/* color: #95A5A6; */
}

.propertiesFieldSet .ui-fieldset-legend:hover {
	background: none repeat scroll 0 0 transparent !important;
	color: #26A69A !important;
}

.propertiesFieldSet .ui-fieldset-toggler {
	margin-top: 7% !important;
	vertical-align: middle;
}

.propertiesFieldSet {
	width: 97%;
	margin-right: 1%;
	margin-top: 0 !important;
	font-family: droidkufi !important;
	margin-top: 0 !important;
}

.propertiesFieldSet .ui-separator {
	border-color: #C49F47 !important;
	opacity: 0.59;
}

.fieldSet .ui-fieldset-legend {
	width: 55% !important;
}

.ibox-content {
	border-width: 1px 0 0 !important;
}

.ui-tree {
	width: 100% !important;
}

.ui-datatable-even {
	background-color: white !important;
}

.ui-datatable-odd {
	background-color: white !important;
}

li.ui-orderlist-item.ui-corner-all table tbody tr td {
	width: 30px;
}

.float-right {
	float: right !important;
}

.my-select {
	font-family: 'droidkufi';
	padding: 0 12px !important;
}

.ui-datatable .ui-datatable-header {
	border: 1px solid #eeeeee !important;
	background-color: rgba(44, 143, 123, 0.35) !important;
	text-transform: uppercase !important;
}

table thead tr th span {
	font-size: 15px !important;
	font-weight: bold !important;
}

.ui-paginator.ui-paginator-bottom.ui-widget-header.ui-corner-bottom {
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.ui-datatable .ui-datatable-header, .ui-datatable .ui-datatable-footer {
	padding: 7px 10px 1px !important;
}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td,
	.ui-datatable tfoot th {
	padding: 7px 10px !important;
}

.ui-widget {
	font-size: 1em !important;
}

.table thead>tr>th, .table thead>tr>td {
	padding: 9px !important;
}

.btn-see {
	color: #ffffff;
	background-color: #f48a10;
	border-color: #f48a10;
}

.btn-see:hover, .btn-see:focus, .btn-see:active {
	color: #ffffff;
	background-color: #E87E04;
	border-color: #E87E04;
}

.ui-button.ui-state-default, .ui-button.ui-button-icon-only, .ui-button.ui-state-default.ui-button-icon-only,
	.ui-button.ui-state-active.ui-button-icon-only {
	background-color: #1AB394 !important;
	border-color: #1AB394 !important;
}

.btn-danger.remove:hover, .btn-danger.remove:active, .btn-danger.remove.active,
	.btn-danger.remove:focus, .open .dropdown-toggle.btn-danger.remove {
	background-color: #F3F3F4 !important;
	border-color: #ED5565 !important;
}

.remove.btn-success:hover, .remove.btn-success:active, .remove.btn-success.active,
	.remove.btn-success:focus, .open .dropdown-toggle.btn-success {
	background-color: #F3F3F4 !important;
	border-color: #1AB394 !important;
}

li.selectedNode>span.ui-tree-selectable {
	background: #ececed none repeat scroll 0 0 !important;
	border: 1px dashed #dde0e2 !important;
}

li.selectedNode span.ui-treenode-label.ui-corner-all.ui-state-highlight
	{
	background: #ececed none repeat scroll 0 0 !important;
}

/* li.selectedNode span.ui-treenode-label.ui-corner-all.ui-state-highlight .btn-delete,
	li.selectedNode span.ui-treenode-label.ui-corner-all.ui-state-highlight .btn-success
	{
	border-color: #ececed !important;
} */
.btn-warning.dim {
	box-shadow: 0 0 0 #e57b01 inset, 0 2px 0 0 #e57b01, 0 7px 5px #999999
		!important;
}

.treeLabel {
	padding: 3px 7px 3px 10px !important;
}

.role-input {
	margin-top: -2%;
}

.ui-tree .ui-tree-container {
	margin-top: 10px !important;
}

.ui-tree-scroller.ui-tree-scrollertop.ui-droppable, .ui-tree-scroller.ui-tree-scrollerbottom.ui-droppable
	{
	height: 15px !important;
}

.ui-draggable-dragging {
	border: 1px solid gray;
}

.ui-droppable.ui-state-hover {
	background: none repeat scroll 0 0 #ECECED !important;
	padding: 10px;
}

.fieldTable.ui-datatable table {
	overflow-x: auto !important;
	table-layout: auto !important;
}

.row .select2-container {
	width: 100% !important;
}

.select2-result-label {
	font-family: droidkufi;
}

.ui-tabs .ui-tabs-nav.ui-widget-header li.ui-state-active {
	background-color: white !important;
	color: gray !important;
	font-family: 'droidkufi' !important;
	font-size: 14px !important;
}

.ui-chips {
	display: block !important;
}

.ui-chips-container {
	width: 100% !important;
}