
.rfdialog-style {
	background-image: url(../commonImages/body-bg.png) !important;
	width: 70% !important;
}
.rfdialog-style .ui-separator {
	margin: 4px 0 18px !important;
}

.rfdialog-style .ui-datatable-scrollable-header-box {
	margin-right: 0 !important;
	float: none !important;
}

.rfdialog-style .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-icon-only
	{
	background-color: #509DE5;
	height: 28px;
	margin: 20px;
	text-shadow: none;
}

.rfdialog-style-title {
	/* color: #353536;  */
	font-size: 14px !important; 
	font-weight: bold;
	padding-bottom: 6px !important; 
}

.relatedFile .ui-fileupload-content.ui-widget-content.ui-corner-bottom {
   margin-top: -41px !important; 
   margin-bottom: -6px !important; 
   padding-bottom: 0 !important; 
}

.relatedFile .ui-fileupload-buttonbar {
    margin-left: 92% !important; 
    margin-top: -3px !important;    
}

.ui-fileupload-choose {
    overflow: visible !important; 
}

.relatedFile .ui-button-text-icon-left .ui-button-text {
    padding: 0.4em 1em !important; 
    font-weight: bold;
}

/* .relatedFile .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-icon-left.ui-fileupload-choose {
    background: #1c84c6 none repeat scroll 0 0 !important; 
    border-color: #1c84c6 !important; 
} */

.ui-dialog.ui-widget-content .ui-dialog-titlebar {
    padding: 2px 15px !important; 
}

/* .relatedFile .ui-fileupload-buttonbar {
    margin-left: -0.5% !important; 
} */

/* .ui-dialog .ui-dialog-content {
    padding: 0 !important; 
} */

.ui-panel.attach {
    padding: 0;
}

/* ============================================= */
