.panel-title {
	font-size: 19px;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.delete,
	.ui-button.ui-widget.ui-state-hover.ui-corner-all.ui-button-text-only.delete,
	.ui-button.ui-widget.ui-state-focus.ui-corner-all.ui-button-text-only.delete
	{
	background-image: url("../resources/images/gr-delete.png") !important;
	background-repeat: no-repeat;
	border: medium none !important;
	box-shadow: none !important;
	height: 18px;
	width: 16px;
}

.related-file-panel {
	margin-left: 5%;
	width: 90%;
}

.template-image-with-shadow {
	border-radius: 0px;
	box-shadow: none !important;
	height: 260px;
	width: 337px;
}

.file .icon, .file .image {
	height: 190px;
	overflow: hidden;
}

.file {
	background-color: #ffffff;
	border: 1px solid #c8c8c8;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 0;
	position: relative;
}

.ui-state-default .ui-icon.ui-icon-plusthick, .ui-state-default .ui-icon.ui-icon-arrowreturnthick-1-n,
	.ui-state-default .ui-icon.ui-icon-cancel {
	background-image:
		url("/rafed/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-bootstrap")
		!important;
}

#page-wrapper {
	min-height: 1400px !important;
}

.gray-background {
	width: 100% !important;
}
.fixedMenuBar{
	 left: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1001;
	
}
.top-navigation .nav.navbar-nav>li>a {
	color: white !important;
}